@import '../../style_config/style_config';


.PageGrid{
    .flex-grid__col,.block {
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        background-color: $grey-level2;
        text-overflow: ellipsis;
        overflow:hidden;
        margin-bottom: 1px;
    }
    .flex-grid,
    .flex-grid-grow,
    .row {
        margin-bottom: .5rem;
    }
}

