@charset "UTF-8";
/* ------------------------------ // STUB UNITY ----------------------------- */
/* stylelint-disable declaration-block-no-duplicate-properties  */
/* 브라우저 기본 css 제거 */
.JDcheck_box:not(:checked),
.JDcheck_box:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.JDcheck_box_wrap {
  display: inline-block;
  outline: 0;
  max-height: 25px;
  vertical-align: text-bottom;
}

.JDcheck_box_wrap--small {
  max-height: 19px;
}

.JDcheck_box_wrap * {
  outline: 0;
}

.JDinput-wrap {
  position: relative;
}

.JDcheck_box {
  /* ---------------------------------- 라벨스타일 --------------------------------- */
  /* ----------------------------- Unchecked style ---------------------------- */
  /* ---------------------------------- 체크스타일 --------------------------------- */
  /* ----------------------------- Disabled style ----------------------------- */
}

.JDcheck_box + .JDcheck_box_label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  color: #343434;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.JDcheck_box--small + .JDcheck_box_label {
  padding-left: 0;
  height: 20px;
}

.JDcheck_box + .JDcheck_box_label:after {
  border-radius: 2px;
}

.JDcheck_box + .JDcheck_box_label:before,
.JDcheck_box + .JDcheck_box_label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  z-index: 1;
}

.JDcheck_box:not(:checked) + .JDcheck_box_label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
          transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.JDcheck_box:not(:checked) + .JDcheck_box_label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #343434;
  top: 0px;
  z-index: 0;
}

.JDcheck_box--small + .JDcheck_box_label {
  width: 21px;
}

.JDcheck_box--small + .JDcheck_box_label:after {
  width: 16px !important;
  height: 16px !important;
}

.JDcheck_box:checked + .JDcheck_box_label:before {
  top: 1px;
  left: 0px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
          transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.JDcheck_box:checked + .JDcheck_box_label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #4c5b73;
  background-color: #4c5b73;
  z-index: 0;
}

.JDcheck_box--small:checked + .JDcheck_box_label:before {
  width: 5px;
  height: 11px;
}

.JDcheck_box:disabled:not(:checked) + .JDcheck_box_label:before {
  background-color: transparent;
  border: 2px solid transparent;
}

.JDcheck_box:disabled:not(:checked) + .JDcheck_box_label:after {
  border-color: transparent;
  background-color: #b8b8b8;
}

.JDcheck_box:disabled:checked + .JDcheck_box_label:before {
  background-color: transparent;
}

.JDcheck_box:disabled:checked + .JDcheck_box_label:after {
  background-color: #b8b8b8;
  border-color: #b8b8b8;
}

.JDcheck_box:disabled + .JDcheck_box_label {
  color: #b8b8b8;
  cursor: default;
}
/*# sourceMappingURL=CheckBox.css.map */