@import '../../style_config/style_config';


.header {
    background-color: $nav-color;
    display:flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    @extend %z-depth-1;

    &__logo {
        width: 70px;
    }
    
    &__logoPlace {
        padding: $button-padding;
        &:hover {
            transition:0.2s;
            background-color:rgba(0,0,0,.1);
            cursor:pointer;
        }
    }
    &__logoPlace + * {
        margin-left: $buttons-space;
    }

    &__menue {
        color:white;
    }
    
    &__link {
        margin-left: auto;
        justify-content: flex-end;
        &:hover{
            background-color:rgba(0,0,0,.1);
        }
    }
    
    &__link+&__link {
        margin-left: $buttons-space;
    }

    .JDbtn{
        margin-bottom: 0;
    }
}