@import '../../style_config/style_config';


.header {
    background-color: $nav-color;
    display:flex;
    align-items: center;
    padding-left: $header-padding;
    padding-right: $header-padding;
    @extend %z-depth-1;

    &__logo {
        width: 70px;
    }
    
    .circleIcon {
        margin-bottom: 0;
    }
    
    &__logoPlace {
        padding: $button-padding;
        &:hover {
            transition:0.2s;
            background-color:rgba(0,0,0,.1);
            cursor:pointer;
        }
    }

    &__logoPlace + * {
        margin-left: $buttons-space;
    }

    &__menue {
        color:white;
    }
    
    &__link {
        margin-left: auto;
        justify-content: flex-end;
        &:hover{
            background-color:rgba(0,0,0,.1);
        }
        &--verify {
            background-color: $primary-color-light;
        }
    }
    
    &__link+&__link {
        margin-left: $buttons-space;
    }

    .JDbtn{
        margin-bottom: 0;
    }
    // 헤더부분 에서 패딩조절
    @include response($mobile) {
        padding-left: 0rem;
        padding-right: 0rem;

        &__logoPlace {
            padding-left: $container-padding;
            padding-right: $container-padding;
        }
        .JDbtn  {
            padding-left: $container-padding;
            padding-right: $container-padding;
        }

    }
}