@import '../../style_config/style_config';

.middlerServerLoading {
    z-index: $z-index-8 + 1;
}

html .header {
    background-color: $nav-color;
    display:flex;
    align-items: center;
    padding-left: $header-padding;
    padding-right: $header-padding;
    height: $header-height;
    z-index: $z-index-9;
        justify-content: space-between;
    @extend %z-depth-1;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top:0;

    .animationWrap {
        display:none;
    }

    &__btns {
        display:inline-block;
        height: 100%;
        .JDbtn {
            height: 100%;
        }
    }


    &__left {
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__right {
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__right_pc_btns {
        margin-left: 0;
        height:100%;
        line-height: 100%;
    }

    // 모바일 앱버튼 
    &__apps {
        padding-right: $container-padding;
        margin-left: auto;
        display:none;
        .circleIcon  {
            margin-right:0;
        }

        
        @include response($phablet) {
            display:block;
        }
    }

    // 로고 이미지 여백 맞춤
    &__logoPlace {
        margin-left: -4px;
        & + * {
            margin-right: -2px;
        }
    }

    // 로고
    &__logo {
        width: 80px;
        margin-top: -2px; // 보정
    }

    // 메뉴버튼 (사이드네비)

    &__menueWrap {
        margin-left:-4px;
        margin-right:$standard-space;
        .header__menue {
            cursor: pointer;
            color:white;
            border-radius: 100%;
            margin-left:$standard-space;
            height: 100%;
            &:hover {
                background-color: $grey-opacity1;
            }
            // 메뉴버튼 후로 우측배치
            & + * {
                margin-left: auto;
            }
        }
    }


    &__mobileMenu {
        color:white;
    }

    // 프로필 써클
    &__profile {
        margin-left: auto;
    }

    // 버튼들 로그인 로그아웃...
    &__btns {
        height: 100%;
        line-height: 100%;
        justify-content: flex-end;
        &:hover{
            background-color:rgba(0,0,0,.1);
        }

        &--transparent {
            .JDbtn {
                background-color: transparent;
                border-radius: 0;
                color: white;
                &:hover {
                    background-color: $grey-opacity1;
                }
            }
        }

        &--verify {
            background-color: $primary-color-light;
        }
    }

    // 버튼사이 간격조절
    &__btns+&__btns {
        margin-left: $buttons-space;
    }

    // 툴팁리스트
    #listAboutUser {
        li {
            text-align: center;
        }
    }
    .circleIcon {
        margin-bottom: 0;
    }
    
    // 셀렉트박스 조정
    &__selectHouse {
        width: 200px;
        margin-bottom: 0;
        margin:0;
        
        .react-select-container {
            .react-select__control {
                border:none;
                min-height:28px;
                height: 2.25rem;
            }
        }
    }

    // 에약자 검색바
    .JDsearchInput {
        margin-bottom: 0;
        min-width: 300px;
        height: $standard-line-height;
        margin-right: $standard-space;

        @include response($phablet) {
            min-width: unset
        }
        
        &__input {
            margin:0;
            padding:0;
            padding-left: $standard-small-space;
            border-radius: $standard-border-radius;
        }
        &__ul {
            @extend %z-depth-3
        }
    }
    

    @include response($phablet) {
        padding-left: 0rem;
        padding-right: 0rem;
        
        
        &__logoPlace {
            padding-left: calc(#{$standard-small-space} * 2);

            .header__logo {
                width: 75px;
                margin-top:0;
            }
        }
        
        &__btns--mobileX,&__profile,.JDselect {
            display:none;
        }
        
        .JDbtn  {
            padding-left: $container-padding;
            padding-right: $container-padding;
        }

        //  툴팁 화살표 방향 설정  모바일일때 구석에있어야함
        .__react_component_tooltip::before,.__react_component_tooltip::after {
            left: auto;
            right: 4px;
        }
    }
    #root .JDselect .react-select-container .react-select__contr {
        border: none;
    }

    .JDsearchInput__input {
        background-color: white;
        box-shadow: none;
        border:none;
    }
}