// todo: 내생각엔 여기는 디펄트 간격으로 레이아웃에 넣고 
// 각페이지마다 간격 수정 적용 하는건 어떨까?

@import '../../style_config/style_config';

// 인풋과 다음 물체의 간격
.JDcheck_box_wrap,
.JDswitch-wrap,
.JDradio,
.JDselect,
.circleIcon,
.input-range,
.profileCircle,
.JDcolorPicker {
    margin-right: $standard-space;
}

// 버튼 사이의 간격

.JDanchor + .JDanchor{
    margin-left: $standard-space; 
}
.JDbtn, .JDbtn + a {
    margin-right: $buttons-space;
}

// 🚩다이브 안 오른쪽에 마진제거
div {
    @include baseMargin("& > "){
        &:last-child {
            margin-right: 0;
        }
    }
}

// 🚩카드의 마지막과 테이블안, 기타 안에서 마진 제거 

// 링크와 아이콘 간격1
.JDanchor .JDicon__svg {
    margin-right: $standard-icon-margin / 2 ;
}


@include baseMargin {
    margin-bottom: $standard-margin-bottom;
}

// 테이블 안의 마진 제거
.JDtable,.react-tabs__tab {
    @include baseMargin {
        margin: 0;
    } 
}


//  카드의 마지막차일드  안에있는것 또는, 마지막의 마진을 제거
.JDcard > *:last-child {
    @include baseMargin("&") {
        &:last-child {
            margin-bottom:0;
                .JDinput {
                    margin-bottom:0;
                }
            }
    }
    @include baseMargin() {
        &:last-child {
            margin-bottom:0;
                .JDinput {
                    margin-bottom:0;
                }
            }
    }
}

.JDcard > *:last-child {
    @include baseMargin("&") {
        margin-bottom: 0;
    }
}
