
#setPrice {
    .rt-th {
        & > div {
            width: 100%;
        }
        overflow: visible
    }

    .seasonHeader {
        
        &__wrap {
            justify-content: space-between;
            display:flex;
        } 

        &__dayPicker {
            .JDinput {
                margin-bottom:0;
            }
        }
    }
}