.cardHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: $standard-large-space;

    &__title {
        b {
        vertical-align: text-bottom;
        }
        margin-bottom: 0;
    }

    &__titleSection {
        display: flex;
    }
    &__decs {
        align-self: center;
        color: $label-font-color;
    }
    &__rightWrap {
        height: $standard-line-height;
        margin-bottom: $standard-tiny-space;
    }
}