@import '../../style_config/style_config';
@import './component/notificationLi';

.notification {
    position: relative;
    
    &__notiModal {
        padding: 0;
        .notiLi {
            border-bottom: 1px solid $grey-level1;
        }
    }

    &__tooltip {
        &_ul {
            @extend %JDscrollbar;
            max-height: $standard-height *9;
            overflow-y: auto;
            overflow-x: hidden;

        }
    }
    &__iconWra {
        cursor: pointer;
    }
    
    &__dotsWrap {
        display: flex;
        top: 4px;
        width: 100%;
        justify-content: space-around;
        position: absolute;
        z-index: $z-index-2;
        top: 0;
        right: 0;
        
        & > span + span  {
        }
        & > span:nth-child(2) {
            position: relative;
        }
    }
    
    &__msg {
        white-space: nowrap;
    }
}
