@import '../../../style_config/style_config';

#loginPage {
    text-align: center;

    .JDcard {
        box-sizing:border-box;
        max-width:360px;
        margin:0 auto;
    }
}

#loginPage > div {
    width: calc(100% - #{$container-padding * 2});
}