.showCompoent {
    .showCompoent__icon_box {
        padding: 4px;
        background-color: #dfdfdf;
        text-align: center;
        margin: 1px;
        width: 50px;
        flex-wrap: nowrap;
        overflow-wrap: break-word;
        display: block;
        flex: none;

        svg {
            display: block;
            margin: 0 auto;
        }
    }

    .showComponent__container {
        max-width: 400px;

        .DayPicker-Day,
        .DayPicker-Caption__week {
            max-width: 55px;
        }
    }

    .showComponent__tiny {
        font-size: 8px;
    }
}