@import "~Styles";

$roomTypeWidth: 10rem;
$roomWidth: 10rem;

.roomConfig {
  &__roomType {
    margin-right: 0;
  }

  &__roomCardWrap {
    margin-bottom: -$standard-margin-bottom !important;
  }

  &__roomBox {
    display: flex;
    // 🔴 이부분은 box에서 내부적으로 처리하는게 낳았을텐데
    padding: $standard-tiny-space !important;
    max-width: fit-content;
  }

  &__roomTitle {
    white-space: nowrap;
    margin: 0;
  }

  .JDdrragable--chosen {
    .roomConfig__roomType {
      .roomConfig__iconsWrap {
        display: none;
      }
    }
  }
  .roomConfig__roomType {
    margin-right: 0;
    .JDdrragable--ghost {
      .roomConfig__iconsWrap {
        display: none;
      }
    }
  }
  .roomConfig__roomType {
    .JDdrragable--drag {
      .roomConfig__iconsWrap {
        display: none;
      }
    }
  }

  &__addRoomBox {
    min-width: fit-content;
    margin-bottom: $standard-margin-bottom;
    box-sizing: border-box;
    cursor: pointer !important;
  }
  &__roomType_titleAndIcons {
    display: flex;
  }
  &__roomType_titleSection {
    display: flex;
    justify-content: space-between;
  }
  &__roomsWrap > div {
    display: flex;
  }
  &__roomsWrapWrap {
    margin-right: -$standard-space;
    display: flex;
    overflow-x: hidden;
    @extend %JDscrollbar;
    &:hover {
      overflow-x: auto;
    }
    overflow-y: hidden;
    @include response($tablet) {
      flex-wrap: wrap;
    }
  }
}
