@import '../../../../style_config/style_config.scss';

.configBlock {
    position: relative;

    .JDlarge-text {
        margin-bottom: $standard-margin-bottom /2
    }

    &__updateAt {
        position: absolute;
        font-size: $typho-tiny;
        right: 0px;
        top: -8px;
    }

    &__descrition {
        font-size: $typho-small;
    }
}


.additionDetail__HilightPhoto {
    max-width: $standard-width * 8 * 9;
}