.applyProductModal {
    &__cardsWrap {

        padding:5px;
        margin:-5px;
        overflow-x: auto;
        overflow-y: hidden;
        display:flex;
        white-space: nowrap;
        & > div {
            display:inline-block;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}