@import "../../style_config/style_config";

#root,.ReactModalPortal {
    .tooltipList {
        pointer-events: auto; 
        background-color: white;
        opacity:1;
        z-index: 80!important;
        @extend %z-depth-2;
        padding:0;
        margin-top:0;

        & > * {
            position:relative;
            background-color: $tooltipList-background-color;
            z-index:5;
            padding: none;
        }

        ul {
            border-radius:$tooltipList-border-radius;
            overflow: hidden;
            margin: -1px;
            & > li {
                border-bottom:1px solid $grey-level1;
                .JDbtn  {
                    // color: $html-color;
                    margin:0;
                    width: 100%;
                    border-radius: 0;
                    border:none;
                    box-shadow: none;

                }
            }

            & > li:last-child {
                border-bottom: 0px
            }
        }

        // 상단 화살표
        &:after{
            position: absolute;
            border-radius: 3px;
            border: none;
            width: 16px;
            height:16px;
            z-index:0;
            background-color:white;
            transform: translateY(2px) rotate(45deg);
            @extend %z-depth-1;
        }
        
        &--unPadding {
            ul {
                padding:0;
            }
        }
    }
}