@import "~Styles/style_config.scss";

.bookingModal {
    @include response($full, $tablet) {
        width: 80%;
        max-width: $standard-width * 100;
    }
    @include response($mobile) {
        .JDinput-iconWrap {
           display:none;
       }
   }
    
    .roomSelectInfoTable {

        &__roomSelect {
            width: 100%;
        }

        &__personSelects {
            width: 100%;
            display: flex;

            & > .JDselect {
                flex-grow: 1;
                &:first-child {
                    margin-right: $standard-space /2;
                }
            }
        }

        .JDtable { 
            .rt-td,.rt-tbody,.rt-table {
                overflow:visible;
            }
        }

    }
}

