@import "../../style_config/style_config";

.bookingModal {
    @include response($full, $tablet) {
        max-width: $standard-width * 100;
    }
    @include response($mobile) {
        .JDinput-iconWrap {
           display:none;
       }
   }
    
    .roomSelectInfoTable {

        &__roomSelect {
            width: 100%;
        }

        &__personSelects {
            width: 100%;
            display: flex;

            & > .JDselect {
                flex-grow: 1;
                &:first-child {
                    margin-right: $standard-space /2;
                }
            }
        }

        .JDtable { 
            .rt-td,.rt-tbody,.rt-table {
                overflow:visible;
            }
        }

    }
}


.RoomAssigedInfoTable {

    position: relative;
    z-index: $z-index-4;

    @include response($tablet) {
        padding-bottom: 5rem;
        overflow: auto;
    }

    .JDtable{
        min-width: 440px;
    }
    // .rt-tr-group {
    //     overflow: visible;
    // }
    // .rt-td {
    //     overflow:visible;
    // }
    &__id {
        overflow-x: scroll;
        @extend %JDscrollbar--slender; 
        overflow-y: hidden;
    }
}