@import "~Styles";

.TutoBlock {
  &__label {
    color: white;
  }
  color: white;
  padding: $standard-large-space $standard-largest-space;
  background-color: $grey-level2;
  text-align: center;
  margin-right: $standard-space;
  @extend %z-depth-half;

  &:hover {
    cursor: pointer;
    @extend %z-depth-2;
    background-color: $grey-level3;
  }

  &--done {
    background-color: $primary-color;

    &:hover {
      cursor: pointer;
      background-color: $primary-color-light;
    }
  }
}
