@import '~Styles';

.JDslider__slide-wrap {
    box-sizing:content-box;
    h3 {
        background-color: $grey-level1;
        margin-bottom:0;
        padding: 30%;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }
}