/* ------------------------------ // STUB UNITY ----------------------------- */
html .header .JDsearchInput__ul {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

html .header {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* stylelint-disable declaration-block-no-duplicate-properties  */
.middlerServerLoading {
  z-index: 81;
}

html .header {
  background-color: #4c5b73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3.5rem;
  z-index: 90;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

html .header__NotifyIcon {
  color: white;
}

html .header__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 1.2rem;
}

html .header__right + .animationWrap {
  display: none;
}

html .header__btns {
  display: inline-block;
  height: 100%;
}

html .header__btns .JDbtn {
  height: 100%;
}

html .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .header__pcRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .header__pcRight--unlogin {
  margin-left: 0;
  height: 100%;
  line-height: 100%;
}

html .header__apps {
  margin-left: auto;
}

html .header__apps .circleIcon {
  margin-right: 0;
}

html .header__logoPlace {
  margin-left: -4px;
}

html .header__logoPlace + * {
  margin-right: -2px;
}

html .header__logo {
  width: 80px;
  margin-top: -2px;
}

html .header__menueWrap {
  margin-left: -4px;
  margin-right: 1.2rem;
}

html .header__menueWrap .header__menue {
  cursor: pointer;
  color: white;
  border-radius: 100%;
  margin-left: 1.2rem;
  height: 100%;
}

html .header__menueWrap .header__menue:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

html .header__menueWrap .header__menue + * {
  margin-left: auto;
}

html .header__mobileMenu {
  color: white;
}

html .header__profile {
  margin-left: auto;
  margin-right: 12px;
}

html .header__btns {
  height: 100%;
  line-height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html .header__btns .JDbtn {
  border-radius: 0 !important;
}

html .header__btns .JDbtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

html .header__btns--transparent .JDbtn {
  background-color: transparent;
  border-radius: 0;
  color: white;
}

html .header__btns--transparent .JDbtn:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

html .header__btns--verify {
  background-color: #6d809f;
}

html .header__btns + html .header__btns {
  margin-left: 0.8rem;
}

html .header #tooltip_user li {
  text-align: center;
}

html .header .circleIcon {
  margin-bottom: 0;
}

html .header__selectHouse {
  width: 200px;
  margin-bottom: 0;
  margin: 0;
}

html .header__selectHouse .react-select-container .react-select__control {
  border: none;
  min-height: 28px;
  height: 2.25rem;
}

html .header .JDsearchInput {
  margin-bottom: 0;
  min-width: 300px;
  height: 2.25rem;
  margin-right: 1.2rem;
}

@media only screen and (max-width: 550px) and (min-width: 0px) {
  html .header .JDsearchInput {
    min-width: unset;
  }
}

html .header .JDsearchInput__input {
  margin: 0;
  padding: 0;
  padding-left: 0.8rem;
  border-radius: 5px;
}

@media only screen and (max-width: 550px) and (min-width: 0px) {
  html .header {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  html .header__logoPlace {
    padding-left: calc(0.8rem * 2);
  }
  html .header__logoPlace .header__logo {
    width: 75px;
    margin-top: 0;
  }
  html .header .JDbtn {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  html .header .__react_component_tooltip::before, html .header .__react_component_tooltip::after {
    left: auto;
    right: 4px;
  }
}

html .header #root .JDselect .react-select-container .react-select__contr {
  border: none;
}

html .header .JDsearchInput__input {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
/*# sourceMappingURL=Header.css.map */