@import "~Styles";

.multiBox {
  max-width: 100%;
  margin-bottom: $standard-margin-bottom;
  &__inner {
    margin: -4px;
    padding: 4px;
    &--noWrap {
      white-space: nowrap;
      overflow: auto;
    }
  }
  .JDbtn {
    margin-bottom: 0;
  }
}
