@import '~Styles';

.multiBox {
    max-width: 100%;
    margin-bottom: $standard-margin-bottom;
    &__inner {
        overflow:auto;
        &--noWrap {
            white-space: nowrap;
            @extend %JDscrollbar--hidden;
        }
    }
    .JDbtn {
        margin-bottom: 0;
    }
}