@import '../../../style_config/style_config.scss';

.myPage{
    text-align: center;

    &__profileCircle {
        margin-bottom: $standard-margin-bottom;
    }
    
    &__profileCircle {
        .profileCircle {
            margin-bottom: $standard-margin-bottom;
        }
    }
    
    &__myProduct {
        margin-bottom: $standard-margin-bottom;
    }
    
    .myPage__myProducts > .col:nth-child(3n + 1){
        margin-left: 0;
    }
}