@import '../../../style_config/style_config.scss';

.myPage{
    text-align: center;

    &__profileCircle {
        margin-bottom: $standard-margin-bottom;
    }
    
    &__profileCircle {
        .profileCircle {
            margin-bottom: $standard-margin-bottom;
        }
    }
    
    &__myHouses {
        min-width: 460px;
        @include response ($phablet) {
            min-width: 290px;
        }
    }
    
    @include response ($full,$phabletUp) {
        .myPage__myHouses > .col:nth-child(3n + 1){
            margin-left: 0;
        }
    }

    @include response ($phablet) {
        .myPage__myHouses > .col:nth-child(2n + 1){
            margin-left: 0;
        }
    }

    
}