$roomCardHeight: 0.25rem * 32;

.roomTypeCard {
  border-radius: $standard-border-radius;
  height: $roomCardHeight;
  border: 1px solid $grey-level1;
  position: relative;
  margin-bottom: $standard-margin-bottom;

  &--loadingCard {
    @extend %shining-loading-bg;
  }

  &--last {
    margin-bottom: 0;
  }

  .JDselect {
    min-width: 40px;
  }

  &__imgSection {
    max-width: $roomCardHeight * 1.68;
    background-image: url($s3+"infographic/noimg_01.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-right: 1px solid $grey-opacity1;

    @include response($mobile) {
      max-width: 104px;
    }
  }

  &__img {
    background-size: cover;
    border-radius: 3px 0px 0px 3px;
    height: 100%;
    background-position: center center;
  }

  &__lastSection {
    padding: $standard-small-space;

    @include response($mobile) {
      padding: $standard-small-space / 2;
    }
  }

  &__roomTypeTitle {
    display: flex;
    align-items: center;
  }

  &__selectButton {
    position: absolute;
    bottom: $standard-small-space;
    right: $standard-small-space;

    @include response($mobile) {
      bottom: $standard-small-space / 2;
      right: $standard-small-space / 2;
    }

    @include response($mobile) {
      // bottom:$standard-small-space /2;
      // right:$standard-small-space /2;
      border-radius: $standard-border-radius;
    }
  }

  &__lastTopSection {
    display: flex;
    flex-direction: row-reverse;

    .roomTypeCard__price {
      font-size: $typho-huge;
      font-weight: 600;
    }
  }

  &__middleSection {
    display: flex;
    padding: $standard-small-space;
    justify-content: space-between;
    flex-direction: column;

    @include response($mobile) {
      padding: $standard-small-space / 2;
    }
  }

  &__middleBottomSection {
    display: flex;
    .JDselect {
      margin-bottom: 0;

      @include response($phablet) {
        margin-right: $standard-space / 2;
      }
    }
  }

  // 여기 색을바꾸어줘
  .JDbtn--toogleOn {
    background-color: $primary-color;
    color: $primary-color-on;
  }
}
