/* ------------------------------ // STUB UNITY ----------------------------- */
.colorPage-circle {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* stylelint-disable declaration-block-no-duplicate-properties  */
.colorPage-box {
  padding-top: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.colorPage-box-wrap {
  padding: .5rem;
}

.colorPage-circle {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  text-align: center;
}

.colorPage-circle__txt {
  position: absolute;
  top: calc(50% - 1rem);
  width: 100%;
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
  .colorPage-circle__txt {
    font-size: 1.2rem;
    top: calc(50% - .6rem);
  }
}

.colorPage-circle--primary {
  background-color: #4c5b73;
}

.colorPage-circle--primary .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--primary-light {
  background-color: #6d809f;
}

.colorPage-circle--primary-light .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--primary-dark {
  background-color: #445267;
}

.colorPage-circle--primary-dark .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--point {
  background-color: #c56c47;
}

.colorPage-circle--point .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--point-light {
  background-color: #d79a81;
}

.colorPage-circle--point-light .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--point-dark {
  background-color: #924b2e;
}

.colorPage-circle--point-dark .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--html-color {
  background-color: #343434;
}

.colorPage-circle--html-color .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--grey-level1 {
  background-color: #CDCDCD;
}

.colorPage-circle--grey-level1 .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--grey-level2 {
  background-color: #b8b8b8;
}

.colorPage-circle--grey-level2 .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--grey-level3 {
  background-color: #787878;
}

.colorPage-circle--grey-level3 .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--html-color {
  background-color: #343434;
}

.colorPage-circle--html-color .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--button-disabled {
  background-color: #CDCDCD;
}

.colorPage-circle--new {
  background-color: #FFD821;
}

.colorPage-circle--new .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--error {
  background-color: #ff6760;
}

.colorPage-circle--error .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--link {
  background-color: #423ec7;
}

.colorPage-circle--link .colorPage-circle__txt {
  color: #fff;
}

.colorPage-circle--background-color {
  background-color: #FBFBFB;
}

.colorPage-circle--background-color .colorPage-circle__txt {
  color: #343434;
}
/*# sourceMappingURL=ColorBox.css.map */