@import "~Styles/style_config.scss";

.JDtimer {
    display:inline-block;
    padding: $badge-padding;
    border-radius: $standard-border-radius;
    border: 1px solid $outborder-color;
    margin-bottom: $standard-margin-bottom /2;
 
    &__minute {
        margin-right: $standard-space /3;
    }
    &__second {
    }
}