/* ------------------------------ // STUB UNITY ----------------------------- */
.JDsideNav--open {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.JDsideNav__listContainer::-webkit-scrollbar {
  background-color: #fff;
  width: 9px;
}

.JDsideNav__listContainer::-webkit-scrollbar-track {
  background-color: #fff;
}

.JDsideNav__listContainer::-webkit-scrollbar-track:hover {
  background-color: #EBEBEB;
}

.JDsideNav__listContainer::-webkit-scrollbar-thumb {
  background-color: #EBEBEB;
  border-radius: 12px;
  border: 2px solid #fff;
}

.JDsideNav__listContainer::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8;
  border: 2px solid #EBEBEB;
}

.JDsideNav__listContainer::-webkit-scrollbar-button {
  display: none;
}

/* stylelint-disable declaration-block-no-duplicate-properties  */
.JDsideNav {
  position: fixed;
  top: 0;
  left: -200px;
  background-color: white;
  width: 200px;
  z-index: 100;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.JDsideNav__houseName {
  font-size: 1.2rem;
  color: white;
}

.JDsideNav__productView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 0.75rem);
  padding-left: 0.75rem;
  line-height: 100%;
  border-top: 1px solid #EBEBEB;
  height: 4.3125rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
}

.JDsideNav__productView .JDsideNav__billing-title {
  font-weight: 600;
  font-size: 0.8rem;
}

.JDsideNav__productView .JDsideNav__billing-detail {
  font-size: 10px;
}

.JDsideNav__productView .JDbtn {
  padding: 0 0.6rem;
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-right: 0.15rem;
}

.JDsideNav--open {
  left: 0px;
}

.JDsideNav__profill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12rem;
  background-color: #c56c47;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.JDsideNav__profill .JDselect {
  padding: 0.5rem;
  margin-bottom: 0;
  text-align: left;
}

.JDsideNav__profill .JDselect .react-select__control {
  border: none;
}

.JDsideNav__name {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.JDsideNav__circle {
  width: 72px;
  height: 72px;
  margin-top: 2rem;
  margin: 0 auto;
}

.JDsideNav__listContainer {
  overflow: auto;
  max-height: calc(100vh - 12rem - 4.3125rem);
}

.JDsideNav__navLink {
  text-decoration: none;
  color: #343434;
  display: block;
  height: 54px;
  line-height: 54px;
  background-color: white;
  padding-left: 0.75rem;
  border-bottom: 1px solid #EBEBEB;
}

.JDsideNav__navLink .JDicon__svg {
  padding: 0rem 1rem;
  padding-left: 0;
}

.JDsideNav__navLink:not(.JDsideNav__navLink--disabled):hover {
  background-color: #EBEBEB;
}

.JDsideNav__navLink--disabled {
  pointer-events: none;
  color: #EBEBEB;
  cursor: auto;
}

.JDsideNav-curtain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 90;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.JDsideNav-curtain--open {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.78);
}

/*# sourceMappingURL=SideNav.css.map */