@import '../~Styles';

#root,.ReactModalPortal {
    .HM {
        margin: 0 auto;
        

        &__bg {
            background-position: center center;
            background-size: cover;
            background-color: $grey-level1;
            height: 150px;
            margin-bottom: 0;
        }
        
        &__menuTitle {
            
            width: calc(100% + #{$menu-dropDown-side-padding * 2}); 
            margin-left: -$menu-dropDown-side-padding;
            background-color: $primary-color;
            color: $primary-color-on;
            margin-bottom : $standard-margin-bottom;
            height: $standard-line-height;
            line-height: $standard-line-height;
            box-sizing:border-box;
            padding: 0px  $menu-dropDown-side-padding;
        }
        
        &__bgSection {
            position:relative;
            margin-bottom: $standard-margin-bottom;
            .HM__profilceCricle {
                position: absolute;
                margin:0 auto;
                left: calc(50% - 2.25rem);
                bottom: -1 * 2.25rem;
            }
        }
        
        &__titleWrap {
            display:flex;
            align-items: center;
            justify-content: center;
        }

        &__contectMenu {
            background-color: $grey-opacity1;
            padding: $standard-space;
            display:flex;
            justify-content: space-around;
        }

        img {
            width: 100%;
        }
    }
}

.HMmenuConfigMenu {
    &__menuTitle {
        line-height: 1rem;
    }
}