@import '~Styles';

.myPage{
    text-align: center;

    &__profileCircleWrap {
        padding: $standard-space;
        padding-top: 0;   
    }
    
    &__myHouses {
        min-width: 460px;
        @include response ($phablet) {
            min-width: 290px;
        }
    }
    
    @include response ($full,$phabletUp) {
        .myPage__myHouses > .col:nth-child(3n + 1){
            margin-left: 0;
        }
    }

    @include response ($phablet) {
        .myPage__myHouses > .col:nth-child(2n + 1){
            margin-left: 0;
        }
    }

    
}