/* ------------------------------ // STUB UNITY ----------------------------- */
/* stylelint-disable declaration-block-no-duplicate-properties  */
/* Switch
   ========================================================================== */
.JDswitch,
.JDswitch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: 0;
}

.JDswitch {
  display: inline-block;
}

.JDswitch-wrapWrap {
  display: inline-block;
}

.JDswitch-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.JDswitch-wrap .JDlabel {
  text-align: center;
}

.JDswitch__lxt, .JDswitch__rtxt {
  font-size: 1rem;
  color: #343434;
}

.JDswitch__ltxt {
  margin-right: 10px;
}

.JDswitch__rtxt {
  margin-left: 10px;
}

.JDswitch label {
  cursor: pointer;
}

.JDswitch[disabled] label {
  cursor: default;
}

.JDswitch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.JDswitch label input[type=checkbox]:checked + .JDswitch__lever {
  background-color: #6d809f;
}

.JDswitch label input[type=checkbox]:checked + .JDswitch__lever:before, .JDswitch label input[type=checkbox]:checked + .JDswitch__lever:after {
  left: 18px;
}

.JDswitch label input[type=checkbox]:checked + .JDswitch__lever:after {
  background-color: #4c5b73;
}

.JDswitch label .JDswitch__lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: #CDCDCD;
  border-radius: 15px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
}

.JDswitch label .JDswitch__lever:before, .JDswitch label .JDswitch__lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

.JDswitch label .JDswitch__lever:before {
  background-color: rgba(76, 91, 115, 0.15);
}

.JDswitch label .JDswitch__lever:after {
  background-color: #b8b8b8;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.JDswitch__input[type=checkbox]:checked:not(:disabled) ~ .JDswitch__lever:active::before,
.JDswitch__input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .JDswitch__lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(76, 91, 115, 0.15);
}

.JDswitch__input[type=checkbox]:not(:disabled) ~ .JDswitch__lever:active:before,
.JDswitch__input[type=checkbox]:not(:disabled).tabbed:focus ~ .JDswitch__lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(0, 0, 0, 0.08);
}

.JDswitch input[type=checkbox][disabled] + .JDswitch__lever {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.12);
}

.JDswitch label input[type=checkbox][disabled] + .JDswitch__lever:after,
.JDswitch label input[type=checkbox][disabled]:checked + .JDswitch__lever:after {
  background-color: #b8b8b8;
}

.JDswitch[disabled] .JDswitch__ltxt,
.JDswitch[disabled] .JDswitch__ltxt__rtxt {
  color: #b8b8b8;
}
/*# sourceMappingURL=Switch.css.map */