@import '../../style_config/style_config';

.JDselect {

  .JDselect__label {
    font-size: $label-font-size;
    color: $label-font-color;

    &--top {
      display: inline-block;
      margin: 1rem;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }
  }
  // disabled style 디스에이블 스타일 1
  &--disabled {
  .JDselect__label{
    color:$select-disabled-color;
  }
}
  
  .react-select-container {

    .react-select {

      // disabled style 디스에이블 스타일 2
      &__control--is-disabled.react-select__control {
        border-color: $select-disabled-color;
        .react-select__placeholder{
          color: $select-disabled-color;
        }
        // 화살표 
        .react-select__indicator {
          color: $select-disabled-color;
        }
      }

      &__label {
        color: $select-multi-color;
        font-size: $typho-small;
      }

      
      &__multi-value {
        background-color:$select-multi-bgcolor;

          &__remove {
            background-color: $select-multi-remove-bgcolor;
            
            &:hover {
              background-color: $select-multi-remove-hover-bgcolor;
              color: $select-multi-remove-hover-color;
            }
          }
          
      }

      &__placeholder {
        color: $selcet-placeholder-color;
      }

      //아이콘 이전 라인
      &__indicator {
        color: $html-color;
      }

      &__indicator:hover {
        color: $grey-level3;
      }

      &__indicator-separator {
        display: none;
      }

      &-container {
        border-radius: $select-radius;
      }

      &__control {

        border: $select-border;
        background-color: $select-background;
        border-radius: $select-radius;

        &--is-focused {
          border-color: $select-focus-border-color;
          @extend %z-depth-1;
        }
      }

      &__value-container {
        padding: $select-padding
      }

      &__menu {
        border-radius: $select-menue-radius;
        margin: 0;
        @extend %z-depth-1;
      }

      &__menu-list {
        padding: 0;
      }

      &__option {
        &--is-focused {
          background-color: $select-option-hover-bgcolor;
        }

        &:hover {
          background-color: $select-option-hover-bgcolor;
        }

        &:active {
          background-color: $select-option-active-bgcolor;
        }

        &--is-selected {
          background-color: $select-option-selected-bgcolor;

          &:hover {
            background-color: $select-option-selected-bgcolor;
          }
        }
      }

    }
  }
}