@import "~Styles";

.RoomAssigedInfoTable {
  position: relative;
  z-index: $z-index-4;

  .rt-tbody {
    max-height: 20vh;
    overflow: auto;
    @extend %JDscrollbar;
  }

  &__id {
    overflow-x: scroll;
    @extend %JDscrollbar--slender;
    overflow-y: hidden;
  }
}
