@import '~Styles/style_config';

.JDhelp {
    display:inline-block;
    color: $grey-level1;
    letter-spacing: 0px;
    &__content {
        color: white;
        .Icon__label {
            color: white;
        }
    }
}