
@import '../../style_config/style_config.scss';

// TODO: BEM 규칙에 맞게 node Modules 변경해야함



// 최상단
.react-calendar-timeline {
    overflow: hidden;
    border-radius: $standard-border-radius;
    border:2px solid $standard-outborder-color;
    div {
        // 🥇 이로서 드레그 끈김을 막을수있다.
        user-select: none;
    }

    position: relative;
    z-index: $z-index-1;

    * {
        box-sizing: border-box;
    }


    
    .timelineHeaderCell {
        
        &--today {
            font-weight: bold;
        }

        &--isPast {
            color: $grey-level1;
        }

        height: 100%;
        font-size: $typho-small;
        text-align:center;

        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 34px;

        &__inner {
            width: 100%;
            height: 100%;
            pointer-events: all;
            display:flex;
            justify-content: center;
            align-items: center;
            
            &:hover {
                cursor: pointer;
                background-color: $grey-level4;
            }
        }
    }

    .rct-header-root {
        position:sticky!important;
    }
    .rct-calendar-header {
        background-color:$grey-level3;
        line-height:100%;

        color:white;
        & > div:nth-child(2) {
            display:none;
        }
    }

    // 사이드바
    .rct-sidebar {
        overflow: hidden;
        white-space: normal;
        display: inline-block;
        vertical-align: top;
        position: relative;
        box-sizing: border-box;
        border-right: none;
        @extend %z-depth-1;
        // 사이드바에 줄 하나 하나 
        .rct-sidebar-row {

            padding: 0 4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            box-sizing: content-box;
            margin: 0;
            border-bottom: 1px solid $grey-opacity3;

            &-odd{
            }
            &-even{

            }
        }
        
    }
    // 본문
    .rct-outer {

        display: block;
        overflow: hidden;
        white-space: nowrap;

        .rct-scroll {

            min-width: 96vw;
            display: inline-block;
            white-space: normal;
            vertical-align: top;
            overflow-x: scroll;
            overflow-y: hidden;
            touch-action: none;

            // 아이템들
            .rct-items {
                .rct-item {
                    &-content {
                        position: sticky;
                        left: 0px;
                        overflow: hidden;
                        display: inline-block;
                        padding: 0 6px;
                        height: 100%;
                    }
                }

            }
            // 가로라인
            .rct-horizontal-lines {
                
                .rct-hl-even,.rct-hl-odd {
                    border-bottom: 1px dotted $grey-opacity3;
                    box-sizing: content-box;
                    z-index: 40;
                }
                .rct-hl-even {
                    border-bottom: 1px dotted $grey-opacity3;
                }

                .group {
                    &:hover {
                        cursor:pointer;
                        position: relative;
                        &:after {
                            position:absolute;
                            content: '';
                            display:block;
                            top:0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-color: $hover-effect-dark;
                        }
                    }
                }
            }
            // 세로라인
            .rct-vertical-lines {
                
                // 세로줄 하나하나 
                .verticalLine {
                    position: absolute;
                    // 과거의
                    &--past {
                        background-color: $blue-opacity1;
                        z-index: 80;
                        box-sizing: initial;
                        border-color: $grey-opacity2;
                        pointer-events: all!important;
                        border-left: 1px solid $grey-opacity2;
                        &:hover {
                            background-color: $blue-opacity2!important;;
                            cursor: default!important;
                        }

                    }
                    &.rct-vl:not(.verticalLine--past) {
                        border-left: 1px solid $grey-opacity2;
                    }
                }
            }
        }
    }
}