/* ------------------------------ // STUB UNITY ----------------------------- */
.JDsideNav--open {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.JDsideNav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.JDsideNav__listContainer {
  padding-right: 4px;
}

.JDsideNav__listContainer::-webkit-scrollbar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  width: 8px;
}

.JDsideNav__listContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.JDsideNav__listContainer::-webkit-scrollbar-thumb {
  background-color: #CDCDCD;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #CDCDCD;
}

.JDsideNav__listContainer::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8;
}

.JDsideNav__listContainer::-webkit-scrollbar-button {
  display: none;
}

/* stylelint-disable declaration-block-no-duplicate-properties  */
.JDsideNav {
  display: block;
  width: 0px;
  overflow: hidden;
  background-color: white;
  height: calc(100vh - 3.5rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: -webkit-sticky;
  position: sticky;
  top: 3.5rem;
}

.JDsideNav__inner {
  position: relative;
  min-width: 14rem;
  height: 100%;
}

@media only screen and (max-width: 550px) and (min-width: 0px) {
  .JDsideNav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }
}

.JDsideNav__houseName {
  font-size: 1.3rem;
  color: white;
}

.JDsideNav__productView {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.2rem;
  line-height: 100%;
  border-top: 1px solid #CDCDCD;
  height: 4.25rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.JDsideNav__productView .JDsideNav__billing-title {
  font-weight: 600;
  font-size: 0.8rem;
}

.JDsideNav__productView .JDsideNav__billing-detail {
  font-size: 10px;
}

.JDsideNav__productView .JDbtn {
  padding: 0 0.6rem;
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-right: 1.2rem;
}

.JDsideNav--open {
  width: 14rem;
  overflow: hidden;
  left: 0px;
}

.JDsideNav-curtain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.16);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 90;
  display: none;
}

.JDsideNav-curtain--open {
  background-color: rgba(0, 0, 0, 0.78);
}

@media only screen and (max-width: 550px) and (min-width: 0px) {
  .JDsideNav-curtain--open {
    display: block;
  }
}

.JDsideNav__profill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-bottom: 1px solid #CDCDCD;
}

.JDsideNav__profill .JDselect {
  padding: 1.2rem;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
}

.JDsideNav__name {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.JDsideNav__circle {
  margin-top: 2rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.JDsideNav__circle .profileCircle {
  margin: 0;
}

.JDsideNav__listContainer {
  overflow: auto;
  padding: 0px;
  max-height: calc(100vh - 12rem - 4.25rem);
}

.JDsideNav__navLink {
  text-decoration: none;
  color: #343434;
  display: block;
  height: 3.25rem;
  line-height: 3.25rem;
  background-color: white;
  padding-left: 1.2rem;
  border-bottom: 1px solid #CDCDCD;
}

.JDsideNav__navLink.active {
  background-color: #4c5b73;
  color: white;
}

#root .JDsideNav__navLink.active:hover {
  background-color: #4c5b73;
}

.JDsideNav__navLink .JDicon__svg {
  padding: 0rem 1.2rem;
  padding-left: 0;
}

.JDsideNav__navLink:not(.JDsideNav__navLink--disabled):hover {
  background-color: #CDCDCD;
}

.JDsideNav__navLink--disabled {
  color: #b8b8b8;
  cursor: auto;
}
/*# sourceMappingURL=SideNav.css.map */