@import "../../../style_config/config";

.showComponent {
    .showComponent__icon_box {
        padding: 4px;
        background-color: $grey-level1;
        text-align: center;
        width: 51px;
        flex-wrap: nowrap;
        overflow-wrap: break-word;
        flex: none;
        display:inline-block;
        margin-right: 2px;

        .Icon__label {
            margin: 0;
        }

        svg {
            display: block;
            margin: 0 auto;
        }
    }

    .showComponent__container {
        max-width: 400px;

        .DayPicker-Day,
        .DayPicker-Caption__week {
            max-width: 55px;
        }
    }

    .showComponent__large {
        font-size: $typho-large;
        margin-top: 0;
    }
    
    .showComponent__tiny {
        font-size: $typho-tiny;
        margin-top: 0;
    }
    
    .showComponent__elseThings {
        margin-left: $standard-space;
    }


    //TODO  이것은 규칙도없고 컴포넌트도 없다 
    .showComponent__float-link {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 3rem;
        line-height: 3rem;
        padding: 0rem 1rem;
        background-color: $point-color;
        color:white;
        z-index: $z-index-9;
    }

    &__pulse {
        float:right;
    }
}
.showComponent__pulse{
    float:right;
}