@import '../../../style_config/config.scss';

.staterModal {
    text-align: center;
    &__stepsWrap {
        border-bottom: 1px solid $grey-level1;
        margin-bottom: $standard-margin-bottom;
    }

    &__createRoom_finish_Btn {
    }
}