/* -------------------------------- TO DO LIST -------------------------------- */
/* ---------------- 1.현재 명명법이 BEM 스럽지 못합니다. 변수명을 BEM에 맞춰 바꾸세요 --------------- */
/* ------------------------- 2. 쓰이지않는 변수들을 찾아서 제거하세요 ------------------------ */

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Z-Index
$z-index-0: -1;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;
$z-index-7: 70;
$z-index-8: 80;
$z-index-9: 90;
$z-index-10: 100;


// 1. Colors
// ==========================================================================

$primary-color: color("materialize-red", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;


// 2. breackPoints
// ==========================================================================

$bp-larger-than-mobile : "min-width: 400px" !default;
$bp-larger-than-phablet : "min-width: 550px" !default;
$bp-larger-than-tablet : "min-width: 750px" !default;
$bp-larger-than-desktop : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;
$bp-larger-than-desktophdup : "min-width: 1201px" !default;

// mediaQuery for reactiveDesign
$desktop-and-up: "only screen and (min-width : #{$bp-larger-than-desktop})" !default;
$desktophd-and-up: "only screen and (min-width : #{$bp-larger-than-desktophd})" !default;
$desktophdup: "only screen and (min-width : #{$bp-larger-than-desktophdup})" !default;
$phablet-and-down: "only screen and (max-width : #{$bp-larger-than-tablet})" !default;
$desktop-and-down: "only screen and (max-width : #{$bp-larger-than-desktophd})" !default;
$desktop-only: "only screen and (min-width : #{$bp-larger-than-desktop}) and (max-width : #{$bp-larger-than-desktophd})" !default;


// 3. Grid
// ===========================================================================

// Grid Variables
$container-width: 1000px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 2% !default; // space between column grids

// Flex Grid Variables
$flex-grid__column--fixed-width: 200px !default;
$flex-grid--column-margin: 2% !default;


// 4. Forms
// ==========================================================================


// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: color("grey", "base") !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $secondary-color !default;
$input-font-size: 1rem !default;
$input-margin-bottom: 1.4rem;
$input-margin-top: 0rem;
$input-margin: $input-margin-top 0 $input-margin-bottom 0 !default;
$input-padding: 1rem 0 0 0 !default;
$input-transition: all .3s !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0, 0, 0, .42) !default;
$input-disabled-solid-color: #949494 !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: lighten($input-border-color, 20%) !default;
$input-label-fontsize: .5rem;
// Radio Buttons
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.90) !default;
$select-focus: 1px solid lighten($secondary-color, 47%) !default;
$select-option-hover: rgba(0, 0, 0, .06) !default;
$select-option-focus: rgba(0, 0, 0, .03) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0, 0, 0, .3) !default;

// Switches
$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(lighten($switch-bg-color, 25%), 25%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: rgba(0, 0, 0, .38) !default;
$switch-radius: 15px !default;
$switch__space : 13px;

// CheckBox 
$check_box__space : 13px;

//textarea
$textarea-margin-top: 1.8rem;  //라벨 덮힘 방지