/* -------------------------------- TO DO LIST -------------------------------- */

/* ---------------- 1.현재 명명법이 BEM 스럽지 못합니다. 변수명을 BEM에 맞춰 바꾸세요 --------------- */

/* ------------------------- 2. 쓰이지않는 변수들을 찾아서 제거하세요 ------------------------ */

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Z-Index
$z-index-0: -1;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;
$z-index-7: 70;
$z-index-8: 80;
$z-index-9: 90;
$z-index-10: 100;

// 1. Colors
// ==========================================================================

$html-color: #333;
$primary-color: #4c5b73 !default;
$primary-color-on: #fff !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-light-on: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$primary-color-dark-on: lighten($primary-color, 15%) !default;
$secondary-color: #c56c47 !default;
$secondary-color-on: #fff !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;
$secondary-color-light-on: #fff !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;
$secondary-color-dark-on: #fff !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

// 2. breackPoints
// ==========================================================================

$bp-larger-than-mobile: "min-width: 400px" !default;
$bp-larger-than-phablet: "min-width: 550px" !default;
$bp-larger-than-tablet: "min-width: 750px" !default;
$bp-larger-than-desktop: "min-width: 1000px" !default;
$bp-larger-than-desktophd: "min-width: 1200px" !default;
$bp-larger-than-desktophdup: "min-width: 1201px" !default;
// mediaQuery for reactiveDesign
$desktop-and-up: "only screen and (min-width : #{$bp-larger-than-desktop})" !default;
$desktophd-and-up: "only screen and (min-width : #{$bp-larger-than-desktophd})" !default;
$desktophdup: "only screen and (min-width : #{$bp-larger-than-desktophdup})" !default;
$phablet-and-down: "only screen and (max-width : #{$bp-larger-than-tablet})" !default;
$desktop-and-down: "only screen and (max-width : #{$bp-larger-than-desktophd})" !default;
$desktop-only: "only screen and (min-width : #{$bp-larger-than-desktop}) and (max-width : #{$bp-larger-than-desktophd})" !default;

// 3. Grid
// ===========================================================================

// Grid Variables
$container-width: 1000px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 2% !default; // space between column grids
// Flex Grid Variables
$flex-grid__column--fixed-width: 200px !default;
$flex-grid--column-margin: 2% !default;

// 4. Forms
// ==========================================================================

// Unity
$forms-label-font-size: 0.8rem;
$forms-disabled-color: rgba(0, 0, 0, 0.42);
$forms-space: 13px; // except textInput 구조가 다름
$forms-margin-bottom: 16px; // except textInput 구조가 다름
$white-hover-color-bg: #eee;
$white-active-color-bg: rgba(0, 0, 0, 0.03) !default;

// labeles
$input-label-fontsize: 0.5rem;
$input-label-top-margin: 0 0 0.5rem 0;

// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: color("grey", "base") !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $secondary-color !default;
$input-font-size: 1rem !default;
$input-margin-bottom: 1.4rem;
$input-margin-top: 0rem;
$input-margin: $input-margin-top 0 $input-margin-bottom 0 !default;
$input-padding: 1rem 0 0 0 !default;
$input-transition: all 0.3s !default;
$input-disabled-color: $forms-disabled-color !default;
$input-disabled-solid-color: #949494 !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: lighten($input-border-color, 20%) !default;

// Radio Buttons
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

// Select
$select-border: 1px soligba(0, 0, 0, 0.06) !default;
$select-option-active-bg: $white-active-color-bg !default;
$select-option-selected-bg: $secondary-color !default;
$select-option-selected-color: #fff !default;
$select-padding: 2px 8px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0, 0, 0, 0.3) !default;
$select-menue-radius: 0px !default;
$select-background: #fff !default;
$select-focus-border-color: $secondary-color !default;
$select-option-hover-bg: $white-hover-color-bg;

// Switches
$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(lighten($switch-bg-color, 25%), 25%) !default;
$switch-unchecked-bg: #f1f1f1 !default;
$switch-unchecked-lever-bg: rgba(0, 0, 0, 0.38) !default;
$switch-radius: 15px !default;

// CheckBox
//textarea
$textarea-margin-top: 1.8rem; //라벨 덮힘 방지

// 4. Forms
// ==========================================================================
// box-shadow @extends

%z-depth-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

%z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

%z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

%z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

%z-depth-1-half {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

%z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

// 4 DOC__Header
// ==========================================================================

$nav-color: $primary-color !default;
$nav-font-size: 1.5rem !default;
$nav-link-padding: 1rem 0rem !default;

// 5 DOC__Header
// ==========================================================================

$docs-section-padding-top: 6rem !default;
$docs-section-padding-bottom: 6rem !default;
$docs-section-padding: $docs-section-padding-top 0 $docs-section-padding-bottom 0 !default;
$docs-section__box-bottom: 1rem !default;

// 6 Calender
// =========================================================================

$daypicker-block-height: 3rem !default;
$daypicker-border-tick: .3rem !default;
$daypicker-margin-bottom: 20px !default;
$daypicker-disabled-color: $forms-disabled-color !default;
$daypicker-otuside-color: #fff !default;
$daypicker-otuside-bg: rgba(0, 0, 0, .1) !default;
$daypicker-dot-size: 5px !default; // calculator
$daypicker-dot-top: 5px !default; // calculator
$daypicker-caption-margin-bottom: 2rem !default; // it must be a pixcel
$daypicker-caption-height: 36px !default;
// 6 Buttons
// =========================================================================

// Shared styles
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 1rem !default;
$button-radius: 2px !default;
$buttons-space: .4rem;
$buttons-icon-margin: 0.8em;

// Disabled styles
$button-disabled-background: #dfdfdf !default;
$button-disabled-color: #9f9f9f !default;

// Raised buttons
$button-raised-background: $secondary-color !default;
$button-raised-background-hover: lighten($button-raised-background, 5%) !default;
$button-raised-color: #fff !default;

// Large buttons
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;
$button-large-padding: 0 2rem !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 37px !default;
$button-floating-large-size: $button-floating-size * 1.5 !default;
$button-floating-radius: 50% !default;

//small buttons
$button-small-height: 34px !default;
$button-small-padding: 0 1rem !default;
$button-small-font-size: .9rem !default;
$button-large-font-size: 1.2rem !default;