/* ------------------------------ // STUB UNITY ----------------------------- */
// -- z-index 
$z-index-0: -1;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50; 
$z-index-6: 60; // Modal Level 1
$z-index-7: 70;
$z-index-8: 80;
$z-index-9: 90; // sideNav Curton
$z-index-10: 100; // sideNav

// -- TyphoGraphy 타이포 그래피
$typho-large : 1.2rem;
$typho-normal : 1rem;
$typho-small : 0.8rem;
$typho-tiny : .5rem;

// -- Colors 컬러 칼라 
$html-color: #343434 !default;
$html-color-hover: $grey-level3!default;
$primary-color: #4c5b73 !default;
$primary-color-on: #fff !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-light-on: #fff !default !default;
$primary-color-dark: #445267 !default; // 흰색 호버 bg 에 오버랩 되었을때 컬러임
$primary-color-dark-on: #fff !default !default;
$secondary-color: #c56c47 !default;
$secondary-color-on: #fff !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;
$secondary-color-light-on: #fff !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;
$secondary-color-dark-on: #fff !default;
$success-color: #4CAF50 !default;
$background-color: #fff;
$error-color: #ff6760 !default;
$link-color: #039be5 !default;
$warring-color: EE9D5C !default;
$grey-level1: #EBEBEB; // 흰색 effect-dark 받을때 컬러 오버랩을 원치 않을때 사용
$grey-level2: #b8b8b8; 
$grey-level3: #787878;
$hover-effect-white: rgba(255,255,255,.1);
$hover-effect-dark: rgba(0,0,0,.08);
$curtain-color: rgba(0,0,0,.78) !default;
// -- BreackPoints 브레이크 포인트
// 각각은 최대크기
$mobile: "400px" !default; // sm
$phablet: "550px" !default; //  md
$tablet: "750px" !default; //  wmd
$desktop: "1000px" !default; // lg
$desktophd: "1200px" !default; //  wlg 
$full: "9999px" !default; 
$null: "0px" !default; 

// -- Grid 그리드
$container-width: 1000px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$container-padding: 0.5rem;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 2% !default; // space between column grids
// Flex Grid Variables
$flex-grid__column--fixed-width: 200px !default;
$flex-grid--column-margin: 2% !default;

$container-small-width: 850px !default;

// -- Section 섹션여백
$docs-section-padding-top: 6rem !default;
$docs-section-padding-bottom: 6rem !default;
$docs-section-padding: $docs-section-padding-top 0 $docs-section-padding-bottom 0 !default;
$docs-section__box-bottom: 2.5rem !default;

// -- forms
$forms-disabled-color: $grey-level1 !default;
$forms-space: 13px !default; // except textInput 구조가 다름
$forms-margin-bottom: 16px !default; // except textInput 구조가 다름

// -- labeles 라벨
//  Exception  : Check Box, Switch
$label-font-size: $typho-small !default;
$label-font-color: $html-color !default;

// ===========================================================================

// 1. Forms 폼
// ANCHOR Forms ==========================================================================

// -- Text Inputs + Textarea 인풋
$input-height: 3rem !default;
$input-border: 1px solid $html-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $primary-color-light !default;
$input-font-size: $typho-normal !default;
$input-margin-bottom: 1.4rem;
$input-margin-top: 0rem;
$input-margin: $input-margin-top 0 $input-margin-bottom 0 !default;
$input-padding: 1rem 0 0 0 !default;
$input-transition: all 0.3s !default;
$input-disabled-color: $forms-disabled-color !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: $grey-level1 !default;

// -- textarea 텍스트어리어
$textarea-margin-top: 1.6rem !default; //라벨 덮힘 방지

// -- Radio Buttons 라디오
$radio-fill-color: $primary-color !default;
$radio-empty-color: $html-color !default;
$radio-border: 2px solid $radio-fill-color !default;
$radio-disabled-color: $forms-disabled-color;

// -- Select 셀렉트
$select-border: 1px solid $html-color !default;
$select-option-active-bgcolor: $hover-effect-dark !default;
$select-option-selected-bgcolor: $primary-color !default;
$select-option-selected-color: #fff !default;
$select-padding: 2px 8px !default;
$select-radius: 2px !default;
$select-disabled-color: $forms-disabled-color !default;
$select-menue-radius: 0px !default;
$select-background: #fff !default;
$select-focus-border-color: $primary-color !default;
$select-option-hover-bgcolor: $hover-effect-dark !default;
$selcet-placeholder-color: $html-color;

// -- Multi Select 멀티 셀렉트
$select-multi-remove-hover-color: $html-color;
$select-multi-remove-hover-bgcolor: $error-color;
$select-multi-remove-bgcolor: $grey-level2;
$select-multi-bgcolor: $grey-level1;
$select-multi-color:  $html-color;

// -- Switches 스위치
$switch-checked-bgcolor: $primary-color !default;
$switch-checked-lever-bgcolor: $primary-color-light !default;
$switch-unchecked-bgcolor: $grey-level2 !default;
$switch-unchecked-lever-bgcolor: $grey-level1 !default;
$switch-radius: 15px !default;
$switch-label-fontSize:1rem !default;
$switch-label-color:$html-color !default;
$switch-disabled-solid-color: $forms-disabled-color;

// -- CheckBox 체크박스
$checkBox-label-fontSize:1rem !default;
$checkBox-label-color:$html-color !default;
$checkbox-border-radius: 2px !default;
$checkBox-border-color: $html-color;
$checkbox-disabled-border-color: $forms-disabled-color !default;
$checkbox-checked-color: $primary-color;
$checkbox-sign-color : #fff;

// 2 DOC__ 다큐먼트
// ANCHOR DOC ==========================================================================

// -- nav 다큐먼트 네비  
$nav-color: $primary-color !default;
$nav-link-padding: 1rem 0rem !default;

// 3 Calender 캘랜더 달력
// ANCHOR DayPicker=========================================================================

// -- Shared styles
$daypicker-block-height: 3rem !default;
$daypicker-border-tick: .2rem !default;
$daypicker-margin-bottom: 20px !default;
$daypicker-disabled-color: $grey-level2 !default;
$daypicker-otuside-bgcolor: #fff !default;
$daypicker-dot-size: 5px !default; // calculator
$daypicker-dot-top: 5px !default; // calculator
$daypicker-caption-margin-bottom: 1rem !default; // it must be a pixcel
$daypicker-caption-height: 34px !default;
$daypicker-day-transition: 0.2s !default;
$daypicker-border: 1px solid $grey-level2!default;
$daypicker-border-radius: 2px;

// -- horizen
$horizen-caption-bgcolor : $grey-level1;
$horizen-month-bordeRight :  none;

// 4 Buttons
// ANCHOR Buttons =========================================================================

// -- Shared styles
$button-border: none !default;
$button-font-size: $typho-large !default;
$button-height: 36px !default;
$button-padding: 0 1rem !default;
$button-radius: 2px !default;
$buttons-space: .4rem !default;
$buttons-icon-margin: 0.75em !default;
$buttons-small-icon-margin: 0.45em !default;
$button-letter-sapcing: .5px !default;
$button-color: $html-color !default;
$button-bgColor: #fff !default;
$button-bgColor-hover: $hover-effect-dark !default;

// -- Disabled styles
$button-disabled-background: $grey-level1 !default;
$button-disabled-color: $grey-level3 !default;


// -- Large buttons
$button-large-icon-font-size: $typho-large !default;
$button-large-height: $button-height * 1.5 !default;
$button-large-padding: 0 2rem !default;

// -- Flat buttons
$button-flat-color: $html-color !default;
$button-flat-disabled-color: $button-disabled-color !default;

// -- small buttons
$button-small-height: 34px !default;
$button-small-padding: 0 .8rem !default;
$button-small-font-size: $typho-normal !default;
$button-large-font-size: $typho-large !default;

// 5 Modals
// ANCHOR Modals =========================================================================

$modal-background-color: $curtain-color !default;
$modal-content-padding: 10px !default;
$modal-border-radius: 2px !default;
$button-height: 36px !default;

// 6 SearchInput
// ANCHOR Search Input =========================================================================

$searchInput-input-height: $input-height !default;
$searchInput-input-border: $input-border !default;
$searchInput-input-margin-bottom: .5rem !default;
$searchInput-border-color:$grey-level1 !default;
$searchInput-border-radius: 2px;
$searchInput-li-border-top: 1px dotted $searchInput-border-color !default;
$searchInput-li-padding: 5px !default;

// 7 SideNav 사이드 네비
// ANCHOR Side NAV =========================================================================

$sideNav-list-padding: 1rem;
$sideNav-width : 200px;
$sideNav-profile-height : 142px;
$sideNav-profile-circle-size : 72px;
$sideNav-profile-circle-margin-top : 2rem;
$sideNav-list-li-height : 3rem;
$sideNav-list-li-bgColor : white;
$sideNav-curtain-color: $curtain-color;

// 8 Header 헤더
// ANCHOR Header NAV =========================================================================
$header-padding: 1rem;

// 9 CircleIcon 둥근 아이콘
// ANCHOR Header NAV =========================================================================
$circle-icon-size: 2rem;
$circle-icon-font-size: 1rem;
