@import '../../../style_config/config';
@import './components/roomTypeCards/roomTypeCard.scss';

$flex-grid--column-margin: .8%;


#outdated {
    display:none!important;
}

#JDreservation {
    padding: $standard-width;
    box-sizing: border-box;
    padding-bottom: $standard-margin-bottom;
    
    // 😆 어떻게 그리드 시스템을 오버라이드 하는지 보여줌
    .flex-grid {

        @include grid-system(full);
        @include grid-system(wlg);
        @include grid-system(lg);
        @include grid-system(wmd);
        @include grid-system(wmd);
        @include grid-system(md);
        @include grid-system(sm);
    }

    @include response($tablet) {
        .JDreservation__topDayPicker {
            .DayPicker {
                border:none;
            }
        }
    }

    .JDreservation {
        &__card {
            @include response($tablet)  {
                padding:0;
            }
        }
        
        &__mobileRoomSearcherWrap {
            background-image:url("https://res.cloudinary.com/stayjanda-com/image/upload/v1554029858/qweqweqwe.jpg");
            background-size: cover;
            background-position: center center;
            display:flex;
            justify-content: center;
            align-items: center;
            min-height: 85vh;
        }

        &__cardMessage {
            height: $standard-height * 4 * 11;
            display:flex;
            justify-content: center;
            align-items: center;
            border: 2px dashed $grey-level1;
            color: $grey-level1;
        }

        &__dayPickerCard {
            position: sticky;
            top: 0;
            border-radius:$standard-border-radius;
            height: calc(100% - #{$card-padding * 2});

            @include response ($tabletUp, $null) {
                height: auto;
                position: static;
            }
        }
        
        &__sectionTitle {
            text-align: center;

            @include response($mobile) {
                display: none;
            }
        }

    }

    

    .JDselectInfo {
        .JDtable {

        }
    }
    
}

.paymentModal {
    &__JDbox {
        max-width:300px;
        text-align: center;
        color: $html-color;
    }
}



.roomImgPop {
    &__img {
        margin-bottom: $standard-margin-bottom;   
        max-width: 100%;
    }
}

.bookerInfoBox {
    &__agreePolicyBox {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
}

html .ReactModalPortal {
    .agreePrivacyPolicy {
        padding: $standard-small-space;
    }
}


.inIframe {
    .JDreservation__card-grid {
        padding-bottom:0.5rem;
    }
    .JDreservation__roomSelect-grid {
        padding-bottom:0.5rem;
    }
}