@import "~Styles";
.JDtagInput {
    width: 100%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    padding: $input-padding;
    height: $input-height;
    font-size: $input-font-size;
    border: 1px solid $outborder-color;
    border-radius: $standard-border-radius;

    &__tags {
        .JDicon {
            margin-left: space(1);
            font-size: .7rem;
            font-weight: bold;
            &:hover {
                color: $error-color;
            }
        }
    }
    &__tag {
        height: space(4);
        padding: space(.5) space(1);
        margin-right:space(1);
        border-radius: $standard-border-radius;
        background-color: $blue-opacity1;
        cursor: pointer;
        
        &:hover {
            background-color: $blue-opacity2;
        }
    }
    &__input {
        flex-grow: 1;
        outline: none;
        border: none;
    }
}