@import '../../style_config/style_config';

.react-tabs {
    &__tab-list {
        height: $standard-li-height;
        line-height: $standard-li-height;
        border-bottom: 1px solid $html-color;
        display:flex;
        margin-bottom: $standard-margin-bottom;
    }
    
    &__tab {
        padding: 0px $standard-li-padding;
        outline:0;
        &--selected {
            position: relative;
            bottom: -1px;
            background-color: #fff;
            border: 1px solid $html-color;
            border-bottom: 0px solid transparent;
            border-radius: $standard-border-radius $standard-border-radius 0px 0px ;
            line-height : calc(#{$standard-li-height} - 4px);
        }

        &:hover {
            cursor: pointer;
        }
    }
}