
$notiLi-padding : $standard-space;
.notiLi {
    position: relative;
    padding: $notiLi-padding;
    width: 0.4rem * 55;
    
    &__msg {
    }
    
    &__symbolWrap {
        margin-right: $notiLi-padding;
    }
    
    &__title {
        color: $html-color;
        &_txt {
            display:block;
            margin-bottom: 0.25rem;
        }
    }

    &__contents {
        display:flex;
        align-items: center;
    }

    &__symbol {
    }

    &__badgeWrap {
        line-height: 0;
        .JDbadge  {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
