@import "../../style_config/style_config";


// ⚠️ JDmodal 로 수정할수없음 
.ReactModal {


    // 모달 장막
    &__Overlay {
        display: flex;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        z-index: $z-index-9;
        background-color: $modal-background-color;
    }

    // 모달 내용
    &__Content  {
        background-color:white;
        position: relative;
        padding: $modal-content-padding;
        outline: none;
        border-radius: $modal-border-radius;
        @extend %z-depth-3;
        
        @include response ($full,$phablet) {
            max-width: 80%;
        }

        @include response ($phablet) {
            margin: $container-padding;
        }

        max-height: 85%;
        overflow-y:auto;

        .container {
            padding: 0;
        }

        @include response($phablet) {
            padding: $modal-content-padding;
            max-height: 80%;
            margin-bottom: 10%;
        }
    }

}

// 커스텀 여기서부터
.JDmodal {

    &--alert {
        font-weight:bold;
    }

    &--center {
        text-align:center;
    }
    
    // 엔드섹션
    &__endSection {

        &--float {
          position:absolute;   
        }
        
        bottom: 0 + $modal-content-padding;
        left: $modal-content-padding;
        right: $modal-content-padding;
        .JDbtn {
            margin-bottom: 0;
        }
        h6 {
            margin-bottom: 0;
        }
    }
    
    // 모달 내부 영역구분
    .modal__section {
        padding-bottom: $modal-section;
    }
}
