@import '../../../style_config/style_config.scss';
@import './assigItem';
@import './assigTooltips';
// 👿 에니메이션 css 순수하게 가진 파일이필요
@import '../../../atoms/animation/ComponentAnimations.scss';

  @keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
  }

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
.assig__blockOpModal {
}

#AssigTimeline {

    .rct-header-root {
        top: $header-height;
        z-index: 999999;
    }

    .assigTimeline__titleSection {
        position:relative;   
        .assigTimeline__mainPreloder {
            position:absolute;
            bottom:0;
            z-index: $z-index-9;
        }
    }

    .assigTimeline__placeHolderWrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .assigTimeline__placeHolder {
        position:absolute;
    }
    .rct-horizontal-lines {
        & > div:last-child {
            border-bottom:none;
        }
    }
      
    .rct-dateHeader {
        line-height: 34px;

        &__inner {
            width: 100%;
            height: 100%;
            pointer-events: all;
            &:hover {
                cursor: pointer;
                background-color: $grey-level4;
            }
        }
    }

    .rct-sidebar {
        overflow: hidden;
        white-space: normal;
        display: inline-block;
        vertical-align: top;
        position: relative;
        box-sizing: border-box;
        border-right: none;

        // 사이드바에 줄 하나 하나 
        .rct-sidebar-row {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            box-sizing: content-box;
            margin: 0;
            border-bottom: 1px dotted $grey-opacity3;

            &-odd{
                // odd
            }
            &-even{
                // even
            }
        }
        
    }

    @extend %timelineTopLeftIconBox;

    .rct-sidebar {
    }

    .group {
        &--lastOfRoom {
            border-bottom:1px solid $grey-level3;
        }
        &--lastOfRoomType {
            border-bottom:1px solid $html-color;
        }
    }
    
    // 좌측 방 그룹 조정
    .assigGroups {
        overflow: hidden;
        &__roomType {
            position:absolute;
            width: $AT-assigGroup-roomType-width;
            background-color: white;
            left: 0;
            display:flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid $grey-opacity3;
            text-overflow: ellipsis;
            overflow: hidden;
            

            @include response($mobile) {
                width: $AT-mobile-assigGroup-roomType-width;
                font-size: $typho-small;
                white-space: pre-wrap;
                line-height: 100%;
            }
        }
        &__room {
            position:absolute;
            left: $AT-assigGroup-roomType-width;
            width: $AT-assigGroup-room-width;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid $grey-opacity2;

            // 방중에 도미토리가 아닌경우
            &--roomType {
                width: calc(100% - #{$AT-assigGroup-roomType-width});
                @include response($mobile) {
                    width: calc(100% - #{$AT-mobile-assigGroup-roomType-width});
                }
            }

            @include response($mobile) {
                left: $AT-mobile-assigGroup-roomType-width;
                width: $AT-mobile-assigGroup-room-width;
                font-size: $typho-small;
                white-space: pre-wrap;
                line-height: 100%;

                &--roomType {
                    width: calc(100% - #{$AT-assigGroup-roomType-width});
                    @include response($mobile) {
                        width: calc(100% - #{$AT-mobile-assigGroup-roomType-width});
                    }
                }
            }
        }

        &__place {
            padding-left: $AT-assigGroup-roomType-width + $AT-assigGroup-room-width - 4px;
            text-align: center;
            width: calc(100% + 4px);
            
            @include response($mobile) {
                font-size: $typho-small;
                padding-left: $AT-mobile-assigGroup-roomType-width + $AT-mobile-assigGroup-room-width - 4px;
            }
        }

        // roomType이름과 room 이름들 
        &__names {
            display:inline-block;
            word-wrap: break-word;
            text-align:center;
            max-height: 100%;
            white-space: normal;
            width: 100%;
            line-height: 1.3;
            @include response($mobile) {
                width: 80%;
            }
        }
    }
}


@-webkit-keyframes grdAnime{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 200% 0;
	}
}
@keyframes grdAnime{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: 200% 0;
	}
}


#root {
// 로딩 (첫로딩)
    .assigTimeline {
        &--loading {
            .rct-outer {
                background-image: linear-gradient(to right, #{$grey-level2} 0%, #fff 50%, #{$grey-level2} 100%);	
                animation: grdAnime 2s infinite linear;
                height: $standard-height * 10!important;
                background-size: 200% auto;
            }
            .group,.rct-scroll{
                z-index: 1;
                opacity: 0;
            }

            .rct-sidebar {
                opacity: 0;
            }
        }
    }
}