@import "~Styles/style_config.scss";


.sendSmsModal {    
    min-width: 300px;

    &--loading {
        min-width: 0px;
    }

    .JDbox + .JDbox {
        margin-top:  -$standard-margin-bottom /2;
    }
}
