@import "~Styles";

.sendSmsModal {
  min-width: 300px;

  &--loading {
    min-width: 0px;
  }

  .JDbox {
    .sendSmsModal__receiverWrap {
      margin-bottom: -$standard-margin-bottom;

      & > .JDbox:last-child {
        margin-bottom: $standard-margin-bottom;
      }
    }
  }
}
