@import '../../style_config/style_config';

.JDicon__svg {

    display: inline-flex;
    align-self: center;
    // width: 1em;
    // height: 1em;
    fill: currentColor;
    top: .125em;
    position: relative;
    text-decoration: inherit;
    
    &--hover:hover {
        cursor: pointer;;
        color: $grey-level3;
    }


    &--selected {
        color: $primary-color-light;
        &:hover {
            color: $primary-color-dark;
        }
    }
}

// 🍡 그냥 도큐먼트를 위한겁니다.
.Icon__label {
    font-size: $typho-superTiny;
    width: 100%;
    color: black;

    &--large {
        font-size: $typho-normal;
    }
}

.JDicon {
    @include colorText--prefixer();
}