@import '../../style_config/style_config';

.JDicon__svg {
    display: inline-flex;
    align-self: center;
    width: 1em;
    height: 1em;
    fill: currentColor;
    top: .125em;
    position: relative;
    text-decoration: inherit;

    &--hover:hover {
        cursor: pointer;;
        color: $grey-level3;
    }
}

// 🍡 그냥 도큐먼트를 위한겁니다.
.Icon__label {
    font-size: 8px;
    width: 100%;
    color: black;
}