@import '../../style_config/style_config';
@import './components/dragItem';

.dailyAssig {
    overflow: hidden;
    border-radius: $standard-border-radius;
    border-top: 1px solid $grey-opacity1;
    border-left: 1px solid $grey-opacity1;
    border-right: 1px solid $grey-opacity1;

    &__roomTypeName {
        @include response($tablet) {
            width: 12px;
        }
    }

    // border: 2px solid $html-color;
    &__row {
        display:flex;
        .dailyAssig__roomTypeTittle,.dailyAssig__roomsWrap,.dailyAssig__room {
            flex: 1 1;
            line-height:100%;
        }

        &:first-child {
            .dailyAssig__roomTypeTittle {
                padding-top: $dailyAssig-block-height + 0.25rem;
            }
        }
    }

    &__dayPicker {
        margin-bottom: $standard-margin-bottom;
        display:flex;
        &--leftTop {
            left: 0;
            right: 0;
            top: 0;
            position: absolute;
            display:inline-block;
            .dailyAssig__dayPicker {
                display:flex;
                justify-content: center;
                align-items: center;
                box-sizing: content-box;
                height: $dailyAssig-block-height;
            }
        }
        background-color: $primary-color;
        color: $primary-color-on;
        align-items: center;
    }

    &__roomTypeTittle {
        position: relative;
        align-items: center;
        border-right: 1px solid $grey-opacity1;
        padding: $standard-tiny-space;
        text-align: center;
        max-width: $standard-width * 22;
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px solid $grey-opacity1;
        justify-content: center;

        @include response($tablet) {
            max-width: $standard-width * 6;
            padding-top: 0!important;
        }
    }
    &__roomsWrap {
        display:flex;
        flex-wrap: wrap;
    }
    
    &__roomTitle {
        box-sizing: border-box;
        background-color: $grey-opacity1;
        border-bottom: 1px solid $grey-opacity1;
        padding: $standard-tiny-space;
        height: $dailyAssig-block-height;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    &__room {
        min-width: 5.5rem;
        border-bottom: 1px solid $grey-opacity1;
        border-right: 1px solid $grey-opacity1;
        margin-right: -1px; 
    }

    &__place {
        &--canDrop {
            background-color: $positive-opacity1;
            
            .dailyAssigItem__itemBlock {
                color: $html-color;
            }
        }

        &--canAssigAndOver {
            &:hover {
                background-color: $positive-opacity2;
            }
        }

        &--Full {
            background-color: $warn-opacity1;
        }
    }
}