@import "~Styles";

$roundborder-radius: $br1 * 3;

.textButton {
  margin-right: $standard-small-space;
  margin-bottom: $standard-label-margin;

  &--roundBorder {
    border-radius: $roundborder-radius;
    border: 1px solid;
    padding: 0px $standard-tiny-space;
  }

  &:hover {
    cursor: pointer;
    color: $grey-level4;
  }

  &--anchor {
    text-decoration: underline;
  }

  @include colorText--prefixer();
  @include sizeText--prefixer();
}
