@import "~Styles";

.textButton {
  margin-right: $standard-small-space;
  margin-bottom: $standard-label-margin;
  
  &:hover {
    cursor: pointer;
    color: $grey-level4;
  }

  &--anchor {
    text-decoration: underline;
  }

  @include colorText--prefixer();   
  @include sizeText--prefixer();   
}