@import '~Styles';

$range-value-height: 2.2rem;
$range-bottom-labels-height: $range-value-height - 0.7rem;

html {
    .input-range {
        min-width: 200px;
        margin-bottom: $standard-margin-bottom + $range-bottom-labels-height;
        margin-top: $range-value-height;

        // 바 트랙
        &__track {
            background-color: $grey-level1;
            &--active {
                background-color: $primary-color;
            }
        }

        // 트랙 손잡이
        &__slider {
            background-color: $primary-color;
        }

        // 최소 + 최대 라벨
        &__label {
            &-container {
                font-size: $typho-normal;
                color: $html-color;
            }
        }
        
        // 값라벨

        &:hover {
            .input-range__label--value {
                opacity: 1;
            }
        }
        &__label--value {
            border-radius: 50%;
            display:flex;
            align-items: center;
            justify-content: center;
            width: $icon-size-normal;
            height: $icon-size-normal;
            background-color: white;
            @include shadow(1);
            opacity: 0;
            top:  -$range-value-height;
            
            .input-range__label-container {
                left:0;
            }
        }
        // 최소라벨
        &__label--min {
            bottom: -$range-bottom-labels-height;
            .input-range__label-container {
                left: 0;
            }
        }
        // 최대라벨
        &__label--max {
            right: 0;
            bottom: -$range-bottom-labels-height;
            .input-range__label-container {
                left: 0;
            }
        }
        
    }
}