@import '../../../style_config/config.scss';
@import './components/seasonHeader';

#root {
    .setPrice {
        &__table {
            margin-bottom:0;

            .rt-th {
                position: relative;
                z-index: $z-index-1;
            }

            @include baseMargin {
                margin-bottom: $standard-margin-bottom /2;
            }
        }
        &__priceCell {
            display: flex;
        }
    }
    //     &__arrows {
    //         font-size: $typho-large;
    //         & > .JDicon__svg {
    //             margin-left: $standard-space;
    //         }
    //         & > .JDicon__svg:first-child {
    //             margin-left: 0;
    //         }2
    //     }

    //     &__JDboxWrap {
    //         display: inline-block;
    //         vertical-align: top;
    //         .JDbox {
    //             margin-bottom: 0;
    //             .JDicon__svg {
    //                 margin-right: $standard-space /3;
    //             }

    //         }
    //     }

    //     .circleIcon {
    //         margin-bottom: 0;
    //     }

    //     &__cell {
    //         flex: 1;
    //     }
    // }
}