@import '../style_config/style_config.scss';

.middleServer {
    &__layout {
        display: flex;
    }
    &__page {
        flex: 1 1;
        transition: .3s;
        max-width: 100%;
    }

    &--sideOpen {
        .middleServer__page {
            max-width: calc(100% - #{$sideNav-width});
        }
    }
}