@import "../style_config/style_config";

.circleIcon {
    border-radius:50%;
    background: none;
    border: none;
    outline: none;
    width: $circle-icon-size;
    height: $circle-icon-size;
    font-size: $circle-icon-font-size;
    align-content: center;
    justify-content:center;
    display: inline-block;
    cursor:pointer;
    
    .JDicon__svg {
        line-height: 100%;
        top:.1em;
    }

    &--white {
        color:white;
    }
    &--greybg {
        background-color: $grey-level1;
    }

    &:hover {
        background-color: $hover-effect-dark;
        transition:0.3s;
    }
}