@import "../style_config/style_config";

.circleIcon {
    border-radius:50%;
    background: none;
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    align-content: center;
    justify-content:center;
    display: inline-block;
    cursor:pointer;
    
    .JDicon__svg {
        line-height: 100%;
        top:.1em;
    }

    &--white {
        color:white;
    }
    &--greybg {
        background-color: $grey-level1;
    }

    &:hover {
        background-color: rgba(0,0,0,.1);
        transition:0.3s;
    }
}