@import '../../../style_config/style_config.scss';

.seasonT {
    &__arrows {
        font-size: $typho-large;
        & > .JDicon__svg {
            margin-left: $standard-space;
        }
        & > .JDicon__svg:first-child {
            margin-left: 0;
        }
    }
    
    .circleIcon {
        margin-bottom: 0;
    }

    &__cell {
        flex: 1;
    }

    &__mbController {
        @include response ($full,$phablet) {
            display: none;
        }
    }

    &__pcController {
        @include response ($phabletUp,$null) {
            display: none;
        }
    }
}