@import '../../../style_config/style_config.scss';
#root {
.seasonT {

    &__arrows {
        font-size: $typho-large;
        & > .JDicon__svg {
            margin-left: $standard-space;
        }
        & > .JDicon__svg:first-child {
            margin-left: 0;
        }
    }

    &__JDboxWrap {
        display: inline-block;
        vertical-align: top;
        .JDbox {
            margin-bottom: 0;
            .JDicon__svg {
                margin-right: $standard-space /3;
            }

        }
    }

    .circleIcon {
        margin-bottom: 0;
    }

    &__cell {
        flex: 1;
    }

}
}