@import '../../style_config/style_config';

.JDsearchInput{
    position: relative;
    display: block;

    &__label {
        font-size: $label-font-size;
        color: $label-font-color;
    }

    &__icon {
        position: absolute;
        font-size: 1.2rem;
        right: 0.25em;
        top:1.5em;
    }
    &--showList {
        .JDsearchInput__ul {
            position: static;
        }
    }

    &__input {
        height: $searchInput-input-height;
        line-height: $searchInput-input-height;
        border:none;
        padding-right: 1.75rem;
        border-bottom: $searchInput-input-border;
        margin-bottom: $searchInput-input-margin-bottom;
        outline:none;
        width: 100%;
        box-sizing: border-box;
    }

    &__ul {
        position: absolute;
        @extend %z-depth-1;
        margin: 0;
        padding: 0;
        background-color:white;
        border-radius: $searchInput-border-radius;
    }
    &__input_wrapper { 
        display: block;
    }
    &__li {
        padding:$searchInput-li-padding;
        border-top:$searchInput-li-border-top;
        line-height: 100%;


        &:first-child {
            border-top:none;
        }
    }

}