@import '../../style_config/style_config';

.dailyAssig {
    border-top: 1px solid $grey-level1;
    border-left: 1px solid $grey-level1;
    &__row {
        display:flex;
        * {
            flex: 1 1;
            line-height:100%;
        }
    }

    &__dayPicker {
        margin-bottom: $standard-margin-bottom;
    }

    &__roomTypeTittle {
        align-items: center;
        border-right: 1px solid $grey-level1;
        padding: $standard-tiny-space;
        max-width: 120px;
        display: flex;
        border-bottom: 1px solid $grey-level1;
        @include response($tablet) {
            max-width: 90px;
        }
    }
    &__roomsWrap {
        display:flex;
        flex-wrap: wrap;
    }
    
    &__roomTitle {
        border-bottom: 1px solid $grey-level1;
        border-right: 1px solid $grey-level1;
        padding: $standard-tiny-space;
        min-height: 0;
    }
    
    &__room {
        min-width: 100px;
        border-bottom: 1px solid $grey-level1;
    }
    
    &__empty {
        color: $grey-level1;
    }
    
    &__itemBlockWrap {
        &:last-child {
            border-bottom: none;
        }
    }
    
    &__itemBlock {
        padding: $assigItem-padding;
        border-right: 1px solid $grey-opacity1;
        border-bottom: 1px solid $grey-opacity1;
    }

    &__block {
        padding: $assigItem-padding;
        background-color: $assigItem-block-color;
        display: flex;
        color: white;
        align-items: center;
        flex: unset;
        * {
            flex: unset;
        }
    }

    &__guest {
        justify-content: space-between;
        background-color: $assigItem-normalStatus-color;
        display: flex;
        color: white;
        align-items: center;
        flex: unset;
        * {
            flex: unset;
        }
    }

    &__itemName {
        white-space: nowrap;
        text-overflow: hidden;
    }

    &__guestConfigIcon {
        top: 0;
        &:hover {
            color: $grey-level1;
            cursor: pointer;
        }
    }
}