@import '../../../../style_config/style_config.scss';


.myHouseCard {
    width: 100%;
    box-sizing: border-box;
}

.myHouse {

    font-size: $typho-small; 
    height: 130px;

    &__title {
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;

        h6 {
            overflow:hidden;
            text-overflow:ellipsis;
        }
    }

    &__purchaseProduct {
        font-size: $typho-normal;
        display:block;
    }

    &__infoList {
        & > li {
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
        }
    }

    .JDicon__svg {
        margin-right: $standard-small-space;
    }
    
}