@import '~Styles/style_config';

// TODO : 정리
.JDradio {
    display: inline-block;

    * {
        outline: 0;
    }

    &__input:not(:checked),
    &__input:checked {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    &__label-text {
        margin-left: 10px;
        vertical-align: top;
    }

    &__input:not(:checked)+&__label,
    &__input:checked+&__label {
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        font-size: 1rem;
        transition: .28s ease;

        -khtml-user-select: none;
        /* webkit (konqueror) browsers */
        user-select: none;
    }

    &__input+&__label:before,
    &__input+&__label:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 0px;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: .28s ease;
    }

    /* Unchecked styles */
    &__input:not(:checked)+&__label:before,
    &__input:not(:checked)+&__label:after,
    &__input:checked+&__label:before,
    &__input:checked+&__label:after,
    &__input--gap:checked+&__label:before,
    &__input--gap:checked+&__label:after {
        border-radius: 50%;
    }

    &__input:not(:checked)+&__label:before,
    &__input:not(:checked)+&__label:after {
        border: 2px solid $radio-empty-color;
    }

    &__input:not(:checked)+&__label:after {
        z-index: -1;
        transform: scale(0);
    }

    /* Checked styles */
    &__input:checked+&__label:before {
        border: 2px solid transparent;
    }

    &__input:checked+&__label:after,
    &__input--gap:checked+&__label:before,
    &__input--gap:checked+&__label:after {
        border: $radio-border;
    }

    &__input:checked+&__label:after,
    &__input--gap:checked+&__label:after {
        background-color: $radio-fill-color;
        z-index: 0;
    }

    &__input:checked+&__label:after {
        transform: scale(1.02);
    }

    /* Radio With gap */
    &__input--gap:checked+&__label:after {
        transform: scale(.5);
    }

    /* Focused styles */
    &__input--tabbed:focus+&__label:before {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    }

    /* Disabled Radio With gap */
    &__input--gap:disabled:checked+&__label:before {
        border: 2px solid $radio-disabled-color;
    }

    &__input--gap:disabled:checked+&__label:after {
        border: none;
        background-color: $radio-disabled-color;
    }

    /* Disabled style */
    &__input:disabled:not(:checked)+&__label:before,
    &__input:disabled:checked+&__label:before {
        background-color: transparent;
        border-color: $radio-disabled-color;
    }

    &__input:disabled+&__label {
        color: $radio-disabled-color;
    }

    &__input:disabled:not(:checked)+&__label:before {
        border-color: $radio-disabled-color;
    }

    &__input:disabled:checked+&__label:after {
        background-color: $radio-disabled-color;
        border-color: $radio-disabled-color;
    }
}