@import "~Styles";

.vtable {
    padding: $standard-large-space;
    border: 1px solid $grey-level0;
    border-radius: $standard-border-radius;
    padding-bottom: 0;

    &--unBorder {
        border: none;
    }

    &--noHeader {
        padding-top: 0;
    }

    &__column {
        display: flex;
        align-items: center;
        padding: $standard-space;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid $grey-level0;
        justify-content: space-between;

        &:last-child {
            border-bottom: none;
        }
    }

    &__content {
        margin:0;
        min-width: fit-content;
        display: flex;
        justify-content: flex-end;
    }

    &__label {
        margin:0;

        .JDlabel {
            display:flex;
            align-items: center;
            margin-bottom: 0;
        }
    }

    &__header {
        margin-bottom: $standard-margin-bottom;
        
    }
}