.applyProductModal {
    &__cardsWrap {
        min-width: 400px;
        display:flex;
        justify-content: space-around;
        white-space: nowrap;
        & > div {
            display:inline-block;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}