@import "../../style_config/style_config";
#root {
    div.tooltipList.__react_component_tooltip {
        pointer-events: auto; 
        background-color: white;
        opacity:1;
        @extend %z-depth-1;
        padding: 0;

        ul {
            position:relative;
            background-color: white;
            z-index:5;
            border-radius:3px;

            & > li {
                border-bottom: 1px solid $grey-level1;
                .JDbtn  {
                    color: $html-color;
                }
            }
        }
        &:after{
            border-radius:3px;
            border:none;
            width:16px;
            height:16px;
            z-index:0;
            background-color:white;
            transform: translateY(2px) rotate(45deg);
            @extend %z-depth-1;
        }
    }
}