@import '../../style_config/config';


#root {
    .react-tabs {
            .JDinput {
                padding:0;
                height: 2rem;
                line-height: 2rem;
            }

            &__tab-list {
                height: $tabs-height;
                line-height: $tabs-height;
                border-bottom: 1px solid $tabs-tab-border-color;
                display:flex;
                margin-bottom: $tabs-margin-bottom;
            }
            
            &__tab {
                padding: 0px $tabs-tab-padding;
                outline:0;

                &:not(.react-tabs__tab--selected) {
                    .JDinput {
                        border:none;
                        pointer-events: none;
                    }
                }
                // 선택된
                &--selected {
                    position: relative;
                    bottom: -1px;
                    background-color: $background-color;
                    border: 1px solid $html-color;
                    border-bottom: 0px solid transparent;
                    border-radius: $tabs-tab-border-radious $tabs-tab-border-radious 0px 0px ;
                    line-height : calc(#{$tabs-height} - 4px);    
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
    .JDtabs {
        &--style_button {
            $B: ".react-tabs" ;
            #{$B}__tab-list {
                border:none;
                display:block;
                height: auto;
                &:after {
                    clear: both;
                    content: "";
                    display: block;
                }
            }
            #{$B}__tab {
                border: 1px solid $html-color;
                border-radius: $tabs-tab-border-radious;
                float:left;
                margin: $standard-margin-bottom /6 $standard-space /4;
                line-height: auto;
                &--selected {
                    background-color: $grey-level1;
                    border-color: transparent;
                    line-height: unset;
                }
            }
        }
    }

}