
@import '../../style_config/style_config';

.JDdot {
    font-size: $typho-superTiny;
    display:inline-block;
    width: $standard-width * 4;
    height: $standard-width * 4;
    text-align:center;
    border-radius: 50%;
    @include colorBg--prefixer();
}