@import "~Styles";

$line-height: $standard-largest-space;
$label-height: $standard-huge-space;
$handleSize: $icon-size-tiny;

.JDtimePicker {
  position: relative;
  display: flex;
  width: 100%;
  @extend %JDscrollbar--hidden;

  &__selectingMarks {
    position: absolute;
    background-color: $pink-color;
    bottom: 0;
    left: 0;
    z-index: $z-index-1;
    height: $line-height;
  }

  &__todayMarker {
    z-index: $z-index-2;
    width: 1px;
    bottom: 0;
    height: $line-height;
    background-color: red;
    position: absolute;
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10%;
    min-width: 4rem;

    &--past {
      .JDtimePicker__lineBlock {
        background-image: url("https://www.transparenttextures.com/patterns/p5.png");
      }
    }

    &--selected {
      .JDtimePicker__lineBlock {
        border-color: $pink-color;
      }
    }
  }

  &__handle {
    border-radius: 50%;
    border: 1px solid $pink-color;
    color: $pink-color;
    position: absolute;
    width: $handleSize;
    height: $handleSize;
    right: -$handleSize/2;
    top: calc(#{$handleSize}/ 2 + 4px);
    background-color: white;
    user-select: none;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__blockLabel {
    height: $label-height;
    padding-top: $standard-superTiny-space;
    box-sizing: border-box;
    padding-left: $standard-tiny-space;
    font-size: $typho-tiny;
    border-left: 1px solid $grey-level1;
  }
  &__emptySpace {
    height: $label-height;
  }

  &__lineBlock {
    position: relative;
    height: $line-height;
    border-left: 1px solid $grey-level1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    .JDtimePicker__lineBlockHover {
      visibility: hidden;
    }

    &:hover:not(.JDtimePicker__block--past) {
      color: $point-color;
      border: 1px solid $point-color;
      .JDtimePicker__lineBlockHover {
        visibility: visible;
      }
    }
  }
}
