.JDbox {
    &--photoFrame {
        border: 1px solid $grey-opacity1;
        border-radius: $standard-border-radius;
        padding:$standard-small-space;
        img {
            width: 100%;
        }
    }
}