@import '../../style_config/style_config';

#root,.ReactModalPortal {
    .JDbox {

        font-size: $typho-small;
        padding: $standard-padding /2;
        background-color: $grey-level1;
        border-radius: $standard-border-radius;
        text-align: left;
        width: 100%;
        margin-bottom: $standard-margin-bottom /3;

        &__label {
            font-size: $typho-tiny;
            margin-bottom: $standard-margin-bottom /3;
        }

        &__content {
            display: flex;
            justify-content: space-between;
        }

        .JDinput {
            margin-bottom: 0;
            padding: 0;
        }
        
        &--table {
            table {
                width: 100%;
                color:$html-color;
                border-radius: $table-border-radius;
                padding:0;
                border-spacing:0px;
                border-collapse:collapse;
                border: 1px solid $table-outborder-color;
                margin-bottom: $standard-margin-bottom;
            }
            tr {
                & > td:last-child,
                & > th:last-child {
                    border-right:none;
                }
            }
            th, td {
                padding:5px;
                border-right:1px solid $table-borders-color;
            }
            th {
                border-bottom: 2px solid $html-color;
            }
          
        }
    }
}