@import '../../style_config/style_config';
@import './box_tables';
@import './box_photo';

#root,.ReactModalPortal {
    .JDbox {

        &__label {
            font-size: $typho-tiny;
            margin-bottom: $standard-margin-bottom /3;
        }
        
        &--float {
            float:left;
            width: auto!important;
            vertical-align: top;
            margin: 2px!important;
        }

        &--normal {
            box-sizing: border-box;
            padding: $standard-padding;
            margin-bottom: $standard-margin-bottom;
            background-color: $grey-level1;
            border-radius: $standard-border-radius;
            text-align: left;
            width: 100%;
            
            
            &__content {
                display: flex;
                justify-content: space-between;
            }
            
            .JDinput {
                margin-bottom: 0;
                padding: 0;
            }
        }
        
        &--small {
            font-size: $typho-small;
            padding: $standard-small-padding;
            margin-bottom: $standard-margin-bottom /3;
        }

        &--center {
            text-align:center;
        }

        &--border {
            border-radius: $standard-border-radius;
            padding: $standard-padding;
            border: 1px solid $grey-level1;
        }
        
        &--standard {
            height: $standard-line-height;
            box-sizing: border-box;
            line-height: 100%;
        }

        
        &--withIcon {
            padding-right: 1rem;
            position: relative;

            .JDbox__icon {
                position:absolute;
                right: $standard-small-padding;
                top:50%;
                transform: translateY(-50%);
            }
        }
    }
}