@import "~Styles";
@import "./components/smsTemplateModal";

.sms {
  &__templateViewCard {
    &_smsFormat {
      overflow: auto;
      height: 0.25rem * 5 * 9;
      @extend %JDscrollbar;
      white-space: pre-line;
    }
  }
}
