.QNA {
    &__iframe {
        border:none;
        background-color:white;
    }
    .qna__iframWrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .qna__preloader {
            top:0;
            position:absolute;
            z-index: -1;
        }
    }
}