@import '../../../style_config/style_config.scss';

.staterModal {
    &__stepsWrap {
        border-bottom: 1px solid $grey-level1;
        margin-bottom: $standard-margin-bottom;
    }

    &__makeRoom_finish_Btn {
        padding-top: $docs-section__box-bottom;
    }
}