@import '../../style_config/style_config';
@import './component/memoBox';

.memo {
    min-height: fit-content;
    max-height: 60vh;
    overflow: auto;
    @extend %JDscrollbar; 
    overflow-x: hidden;
}