@import "../../../style_config/style_config";

.showComponent {
    .showComponent__icon_box {
        padding: 4px;
        background-color: $grey-level1;
        text-align: center;
        width: 51px;
        flex-wrap: nowrap;
        overflow-wrap: break-word;
        display: block;
        flex: none;
        &+.showComponent__icon_box {
            margin-left: 2px;
        }

        svg {
            display: block;
            margin: 0 auto;
        }
    }

    .showComponent__container {
        max-width: 400px;

        .DayPicker-Day,
        .DayPicker-Caption__week {
            max-width: 55px;
        }
    }

    .showComponent__large {
        font-size: $typho-large;
        margin-top: 0;
    }
    
    .showComponent__tiny {
        font-size: $typho-tiny;
        margin-top: 0;
    }

    .showComponent__blink {
        margin-left: $standard-space;
    }

    &__pulse {
        float:right;
    }
}
.showComponent__pulse{
    float:right;
}