#root {
  .assig__tooltips {
    display: none;
    position: fixed;
    background-color: white;
    z-index: $z-index-3;
    overflow: hidden;
    border-radius: $br1;

    * {
      color: $html-color;
    }

    &--show {
      display: inline-block;
    }

    @extend %tooltipMobileFixedMode;
  }
  @include response($phablet) {
    .itemTooltip {
      top: auto !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      font-size: $typho-normal;
      &--show {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: after;
        animation-fill-mode: after;
      }
    }
  }
}
