
@import '../../style_config/style_config.scss';

.JDpagination {
    display: flex;
    justify-content:inherit;
    
    // ⭐ Modifiers ️
    &-wrap {
        &--text-large {
            font-size: $typho-large;
        }
        &--align-center {
            justify-content: center;
        }
        &--prev-hidden {
            .JDpagination__btn-prev {
                display: none;
            }  
        }
    }

    & > li {
        height: $pagination-li-height;
        line-height: $pagination-li-height;
        padding: 0 $pagination-li-padding;
        margin: 0 $pagination-li-margin;
        border-radius: $pagination-li-radius;
        &:hover {
            cursor: pointer;
            background-color: $pagination-li-hover;
        }
    }

    &__li {
        &--active{
            background-color: $pagination-li-active;
        }
    }
    &__a {
        color:$html-color;
        &--active{
            opacity: 1;
        }
    }
    & > &__btn {
        &-prev{
            margin-left: 0;
            &__a{
                color:$html-color;
                opacity: 1;
            }
        }
        &-next{
            margin-right: 0;
            &__a{
                color:$html-color;
                opacity: 1;
            }
        }
        &--disabled {
            display: none;
        }
    }
    // next && prev Btn
    & > li:first-child,li:last-child { 
        opacity: 1;
    }
}