@import "../../../node_modules/@janda-com/front/build/scss/components/SearchInput.scss";

#JDBookingSearcher {
  display: flex;
  align-items: center;
  width: 100%;
  .JDsearchInput {
    width: 100%;
  }
  @include response($full, $tabletUp) {
    .dataModal {
      width: 500px;
      &__tags {
        width: 120px;
      }
    }
  }
  @include response($tablet) {
    .dataModal {
      position: fixed;
      left: $standard-space;
      right: $standard-space;
      &__tags {
        width: 120px;
      }
    }
  }
}
#JDBookingSearcher .JDinput {
  background-color: white;
  display: flex;
  align-items: center;
  border: none;
}
