/* ------------------------------ // STUB UNITY ----------------------------- */
.JDselect .react-select-container .react-select__menu {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.JDselect .react-select-container .react-select__control--is-focused {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.JDselect .react-select-container .react-select__menu-list {
  padding-right: 4px;
}

.JDselect .react-select-container .react-select__menu-list::-webkit-scrollbar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  width: 8px;
}

.JDselect .react-select-container .react-select__menu-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.JDselect .react-select-container .react-select__menu-list::-webkit-scrollbar-thumb {
  background-color: #CDCDCD;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #CDCDCD;
}

.JDselect .react-select-container .react-select__menu-list::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8;
}

.JDselect .react-select-container .react-select__menu-list::-webkit-scrollbar-button {
  display: none;
}

/* stylelint-disable declaration-block-no-duplicate-properties  */
.JDselect {
  text-align: left;
  font-size: 1rem;
}

.JDselect .css-1g6gooi {
  width: 1px;
}

.JDselect--autoSize .react-select__value-container > div:first-child {
  position: relative !important;
  top: 0 !important;
  -webkit-transform: none !important;
          transform: none !important;
}

html .JDselect--border-primary .react-select-container .react-select__control {
  border-color: #4c5b73;
}

.JDselect--unDisplayArrow .react-select__indicator {
  display: none;
}

.JDselect--bg .react-select__control {
  background-color: white !important;
}

.JDselect--menuCanOverflow .react-select__menu {
  width: auto !important;
}

.JDselect .react-select__menu-Notice--no-options {
  color: #b8b8b8;
}

.JDselect .JDselect__label {
  font-size: 0.8rem;
  color: #343434;
}

.JDselect .JDselect__label--top {
  display: inline-block;
  margin: 0.8rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  vertical-align: top;
}

.JDselect .JDselect__label--right {
  line-height: 2.25rem;
  padding-left: 0.8rem;
}

.JDselect--disabled .JDselect__label {
  color: #b8b8b8;
}

.JDselect .react-select-container .react-select__placeholder {
  padding-right: 0 !important;
}

.JDselect .react-select-container .react-select__control--is-disabled.react-select__control {
  border-color: #b8b8b8;
}

.JDselect .react-select-container .react-select__control--is-disabled.react-select__control .react-select__placeholder {
  color: #b8b8b8;
}

.JDselect .react-select-container .react-select__control--is-disabled.react-select__control .react-select__indicator {
  color: #b8b8b8;
}

.JDselect .react-select-container .react-select__single-value {
  width: 100%;
  margin: 0;
}

.JDselect .react-select-container .react-select__label {
  color: #343434;
  font-size: 0.8rem;
}

.JDselect .react-select-container .react-select__multi-value {
  background-color: #CDCDCD;
}

.JDselect .react-select-container .react-select__multi-value__remove {
  background-color: #b8b8b8;
}

.JDselect .react-select-container .react-select__multi-value__remove:hover {
  background-color: #ff6760;
  color: #343434;
}

.JDselect .react-select-container .react-select__placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b8b8b8;
  padding-right: 0.8rem;
  width: calc(100% - 0.8rem);
  margin: 0;
}

.JDselect .react-select-container .react-select__indicator {
  color: #343434;
  padding: 2px 0.5rem;
}

.JDselect .react-select-container .react-select__indicator:hover {
  color: #787878;
}

.JDselect .react-select-container .react-select__indicator-separator {
  display: none;
}

.JDselect .react-select-container .react-select-container {
  border-radius: 5px;
}

.JDselect .react-select-container .react-select__control {
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  border: 1px solid #343434;
  background-color: transparent;
  border-radius: 5px;
  min-height: 2.25rem;
}

.JDselect .react-select-container .react-select__control--is-focused {
  border-color: #4c5b73;
}

.JDselect .react-select-container .react-select__value-container {
  padding: 2px 0.5rem;
}

.JDselect .react-select-container .react-select__menu {
  border-radius: 5px;
  margin: 0;
  width: 100%;
}

.JDselect .react-select-container .react-select__menu-list {
  padding: 0;
}

.JDselect .react-select-container .react-select__option {
  overflow: hidden;
  height: 2.25rem;
  padding: 0rem 0.8rem;
  line-height: 2.25rem;
  width: auto;
  white-space: pre;
}

.JDselect .react-select-container .react-select__option--is-focused {
  background-color: rgba(0, 0, 0, 0.06);
}

.JDselect .react-select-container .react-select__option:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.JDselect .react-select-container .react-select__option:active {
  background-color: rgba(0, 0, 0, 0.06);
}

.JDselect .react-select-container .react-select__option--is-selected {
  background-color: #4c5b73;
}

.JDselect .react-select-container .react-select__option--is-selected:hover {
  background-color: #4c5b73;
}

.JDselect--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
}

.JDselect--small .react-select-container {
  width: 100%;
}

.JDselect--small .react-select-container .react-select__control {
  padding: 0rem 0.4rem;
}

.JDselect--small .react-select-container .react-select__value-container {
  padding: 0;
}

.JDselect--small .react-select-container .react-select .css-bgvzuu-indicatorSeparator {
  width: 0px;
}

.JDselect--small .react-select-container .react-select__placeholder {
  width: 100%;
  overflow: hidden;
  text-overflow: clip;
}

.JDselect--small .react-select-container .react-select__indicators {
  display: none;
}

.JDselect--textOverflowVisible .react-select__placeholder,
.JDselect--textOverflowVisible .react-select__single-value {
  overflow: visible !important;
}
/*# sourceMappingURL=SelectBox.css.map */