@import '../../../../style_config/config.scss';


.applyProductModal {
}

.JDproduct {
    position: relative;
    display:flex;
    height:300px;
    &--slider {
        height: 330px;
    }
    flex-direction: column;
    padding:1rem;
    transition:.3s;
    transition-timing-function: ease-in-out;
    background-color: $grey-level1;
    transform: scale(1);
    text-align:center;
    &__icon {
        margin-top: $standard-margin-bottom;
        margin-bottom: $standard-margin-bottom + 0.2rem;
    }

    
    &__price {
        position: absolute;
        bottom: 1rem; 
        left: 0;
        width: 100%;
    }

    &:hover:not(.JDproduct--slider) {
        cursor:pointer;
        background-color: $primary-color;
        color: white;
        transform: scale(1.05);
        @extend %z-depth-3;
        .JDproduct__icon {
            position:realtive;
            // -webkit-filter: drop-shadow( 6px 4px 3px rgba(0, 0, 0, 0.16));
            // filter: drop-shadow( 6px 4px 3px rgba(0, 0, 0, 0.16));
            /* Similar syntax to box-shadow */
        }
    }
    .JDproduct--slider:hover {
        transform: sacle(1);
        box-shadow: none;
    }
}

.refundModal {
    max-width: $standard-width * 10 * 9;
    font-size: $typho-small;
    div {
        margin-bottom: $standard-margin-bottom;
    }

    & > div,
    .JDmodal__endSection {
        margin-bottom: 0;
    }
}