
body,html {
    height: 100%;
}

#root {
    height: 100%;
}
main {
    height: 100%;
}
.container {
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 $container-padding;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height:90%;

  @include response ($mobile) {
    overflow:hidden;
  }
}

.container--full {
  margin: 0 auto;
  max-width: $container-full-width;
}

.container--lg {
  margin: 0 auto;
  max-width: 1200px;
}

.container--sm {
  margin: 0 auto;
  max-width: $container-small-width;
}


.container--centerlize {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    max-width: none;
}

/* Self Clearing Goodness */
.container:after,
.row:after {
  clear: both;
  content: "";
  display: table;
}
  