@import '../../../style_config/config.scss';

.sms {

    &__templateViewCard {
        &_smsFormat {
            overflow:auto;
            height: $standard-height * 5 * 9;
            @extend %JDscrollbar;
            white-space: pre-line;
        }
    }
}