@import '../../../../../style_config/style_config.scss';

.layoutCard {
    min-width: 12rem;
    height: 10rem;
    
    @include response($tablet) {
        min-width: 8rem;
        height: 7rem;
    }

    &__imgBox {
        height: calc(100% - 3rem);
        background-size: cover;
        margin-bottom: $standard-margin-bottom;
        background-position: center center;
    }

    &__bottomWrap {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}