@import '~Styles/style_config.scss';


.resvList {

    &__statusBadgesWrap {
        margin-bottom: -$standard-height;
        .JDbadge {
            margin-left: $standard-width;
            margin-bottom: $standard-height;
            &:first-child {
                margin-left: 0;
            }
        }
    }

    @include response($phablet) {
        font-size: $typho-small;
    }

    &__paymentStatus {
        &--notYet {
            color: $warn-color;
        }
    }

    &__createdAt {
        max-width: 100%;
        
    }

    &__memo {
        height: 100%;
        display:flex;
        align-items:center;
        max-width:  100%;
        max-height: 10rem;
        overflow: auto;
        white-space: normal;

        &--full {
            align-items: baseline;
        }

        @extend %JDscrollbar;
    }
}