@import "~Styles";

.resvList {
  &__table {
    &--skeleton {
      height: 25rem;
      @extend %shining-loading-bg;
      border: $table-outborder;
      border-radius: $table-border-radius;
    }
  }

  &__roomSelectWraps {
    flex-direction: column;

    .JDbox {
      &:not(:last-child) {
        border-bottom: 1px solid $grey-level5;
        border-radius:  0px!important;
      } 
      &:first-child:not(:last-child) {
        border-radius:  5px 5px 0px 0px!important;
      } 
      &:last-child:not(:first-child) {
        border-radius:  0px 0px 5px 5px!important;
      } 
    }
  }

  &__statusBadgesWrap {
    margin-bottom: -0.25rem;
    .JDbadge {
      margin-left: 0.4rem;
      margin-bottom: 0.25rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__paymentStatus {
    &--notYet {
      color: $orange-color;
    }
  }

  &__createdAt {
    max-width: 100%;
  }

  &__memo {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 10rem;
    overflow: auto;
    white-space: normal;

    &--full {
      align-items: baseline;
    }

    @extend %JDscrollbar;
  }

  @include response($phablet) {
    font-size: $typho-small;
  }
}

.resvList__filterZone .JDlabel  {
  position: absolute;
  bottom:  100%;
}