@import "../../style_config/style_config";

.JDcard {
    position: relative;
    @extend %z-depth-1;
    padding: $card-padding;
    text-align: left;
    border-radius: $standard-border-radius;

    .JDbtn {
        margin-bottom: 0;
    }

    &--fullWidth {
        width: 100%;
    }

    &--noMargin {
        margin: 0;
    }

    &--fullHeight {
        box-sizing: border-box;
        height: 100%;
    }

    &--selected {
        border: 1px solid $primary-color;    
    }

    &--hoverDark:hover  {
        background-color: $grey-level1;
        cursor:pointer;

        * {
            cursor: inherit;
        }
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    // drragable 을 위해서
    & > * {
        cursor:auto;
    }

}