@import "../../style_config/style_config";

.JDcard {
    position: relative;
    @extend %z-depth-1;
    padding: $card-padding;
    text-align: left;
    border-radius: $standard-border-radius;

    .JDbtn {
        margin-bottom: 0;
    }

    &--hoverDark:hover  {
        background-color: $grey-level1;
        cursor:pointer;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    // drragable 을 위해서
    & > * {
        cursor:auto;
    }

}