@import '../../../style_config/style_config.scss';
// 👿 scss 파일을 나누어 보았는데 괸히 작업만 많은수준 파일이 길어지면 분화하는게 이득
@import './components/ConfigBlock.scss';

.config {
    &__detailSection {
        right: 0px;
    }

    &__cardsWrap {
        max-width: 100%;
        overflow:visible;
        margin-bottom: 2%;
        
        @extend %JDscrollbar;
        
        @include response($phablet) {
            overflow: auto;
            display:flex;

            .JDcard {
                max-width: 33%;
                min-width: 33%;
                margin-right: $standard-space;
                margin-bottom: 0;
            }

            .configBlock__updateAt {
                display: none;
            }
        }
    }

    .additionDetail {

        &__titleTopRight {
            position:absolute;
            top: $card-padding;
            right: $card-padding;

            .JDswitch-wrap {
                margin:0;
            }
        }
    }
    
}
