@import '~Styles';
@import './components/seasonHeader';

#root {
    .setPrice {
        &__table {
            margin-bottom:0;

            .rt-th {
                position: relative;
                z-index: $z-index-1;
            }

            @include baseMargin {
                margin-bottom: $standard-margin-bottom /2;
            }
        }
        &__priceCell {
            display: flex;
        }
    }
}