@import "~Styles";
@import "./components/seasonHeader";
@import "./components/createSeasonModal";

#root {
  .setPrice {
    &__table {
      margin-bottom: 0;

      @include response($tablet) {
        .JDinput {
          width: 140px;
        }
      }

      .rt-th {
        position: relative;
        z-index: $z-index-1;
      }

      @include baseMargin {
        margin-bottom: $standard-margin-bottom / 2;
      }
    }
    &__priceCell {
      display: flex;
    }
  }
}
