@import '../../style_config/style_config.scss';

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes disapper {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.preloader {
    width: 1.5em;
    height: inherit;
    position: relative;
    fill:inherit;


    &__wrap {
        width: 1px;
        height: 1px;
        transform-origin: center cetner;
    }

    &__outerline {
        fill: $preloader-background-color;
    }

    &--large {
        width: 8rem;
        height: 8rem;
    }

    &--medium {
        width: 4rem;
        height: 4rem;
    }

    &--tiny {
        width: 2rem;
        height: 2rem;
    }

    &--small {
        width: 3rem;
        height: 3rem;
    }

    &--floating {
        position:fixed!important;
        bottom: 2%!important;
        left: 3%!important;
        transform-origin: left bottom;
    }
}

.preloader--page__wrap {
    opacity: 1;
    position:fixed;
    z-index: $z-index-9;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
    background-color:white;
    .preloader--page {
        width: 13%;
        padding-top: 13%;
        margin: 29vh auto;
        border: 4vw solid $preloader-background-color;
        border-top: 4vw solid $preloader-fill-color;
        border-radius: 50%;
        animation: rotate 3s infinite linear;
        @include response ($phablet) {
            border: 3rem solid $preloader-background-color;
            border-top: 3rem solid $preloader-fill-color;
        }
    }
    @include response ($phablet) {
        display:flex;
        align-items: center;
        .preloader--page {
            width: 50%;
            padding-top: 50%;
        }
    }
}
