@import '../../style_config/style_config.scss';


#root {
    .JDtable {
        width: 100%;
        border-radius: $table-border-radius;
        border-color: $table-outborder-color;
        box-sizing: border-box;

        * {
            border-color: $table-borders-color;
        }

        &--center {
            text-align: center;
        }
        .JDbtn {
            margin-bottom: 0;
        }
// 👼 REACT TABLE
        .rt {
            &-thead {
                    box-shadow: none;
                    border-bottom: $table-header-border-bottom;
            }

            &-td {
                display:flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}