

.statusMarker {
  display: flex;
  &__dot {
      box-sizing:border-box;
      margin-bottom:  $standard-height;
      display:inline-block;
      border-radius: 100%;
      height: $standard-width;
      width: $standard-width;
      border: 1px solid $html-color;
      margin-right: 4px;

      &:hover {
          filter: brightness(1.5);
      }
  }
}
